<div class="container">
  <div class="filter-screen">
    <span class="typing-text">
      @for (item of message; track $index) {
      <span> {{item == "-" ? "&nbsp;" : item }} </span>
      }
    </span>
  </div>

  <div class="folder">
    @if (ipInfo$ | async; as ipInfo) {
    @for(ip of (ipInfo.ip?.split('.') ?? ['0', '0', '0', '0']); track $index ) {
    <div class="file">
      <span>{{ip}}</span>
    </div>
    }
    }
  </div>

  <button type="button" class="animate-button"> Post </button>

</div>


<!--
   ! Backup !
    @if (ipInfo$ | async; as ip) {
    <p>{{ip.ip}}</p>

    }@else {
    <span>0.0.0.0</span>
    }

    @for (i of (ip.ip?.split('.') || ['0', '0', '0', '0']); track $index) {
    <span>{{i}} </span>
    }

    <p><strong>도시:</strong> {{ ip?.city }}</p>
    <p><strong>지역:</strong> {{ ip?.region }}</p>
    <p><strong>국가:</strong> {{ ip?.country }}</p>
    <p><strong>ISP:</strong> {{ ip?.isp }}</p>
-->
