<!-- 제목 -->
<div class="cute-font-regular
      text-5xl
      shadow-sm
      rounded-lg
      border-b-4
      py-4
      mx-12
 text-slate-600 text-center">
  {{ sutraDTO.title === '' ? mainTitle : sutraDTO.title }}
</div>

<!-- 부 제목 -->
<mat-label class="flex justify-center text-md my-2 text-slate-600">
  <div>
    {{ sutraDTO.subtitle }}.
  </div>
</mat-label>

<!-- 본문 탭 -->
<mat-tab-group class="my-8 shadow-2xl rounded-md">

  @for (tab of tabs; track $index) {
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="text-slate-400">description</mat-icon>
      <span class="text-slate-500 ml-4 text-lg">{{ tab }}</span>
    </ng-template>

    <!-- 본문 -->
    <mat-card class="px-2">
      @switch ($index) {
      @case (0) {
      <mat-card-content class=" border-slate-500 rounded-lg shadow-lg my-4 mx-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-korean"
            [highlightAuto]="sutraDTO.sutra"
            [languages]="['plaintext']"
            [class]="fontSize"
            class="text-wrap noto-sans-kr-bold text-sky-950 opacity-80" >
          </code></pre>
      </mat-card-content>
      }
      @case (1) {
      <mat-card-content class=" border-slate-500 rounded-lg shadow-lg my-4 mx-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-other"
            [highlightAuto]="sutraDTO.originalText"
            [languages]="['plaintext']"
            class="text-wrap text-xl noto-sans-kr-bold text-sky-950 opacity-80"
            >
          </code></pre>
      </mat-card-content>
      }
      @case (2) {
      <mat-card-content class=" border-slate-500 rounded-lg shadow-lg my-4 mx-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-summary"
            [highlightAuto]="sutraDTO.summary"
            [languages]="['plaintext']"
            class="text-wrap text-lg noto-sans-kr-bold text-sky-950 opacity-80"
            >
          </code></pre>
      </mat-card-content>
      }
      @case (3) {
      <mat-card-content class=" border-slate-500 rounded-lg shadow-lg my-4 mx-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-annotation"
              [highlightAuto]="sutraDTO.annotation"
              [languages]="['plaintext']"
              class="text-wrap text-lg noto-sans-kr-bold text-sky-950 opacity-80"
              >
            </code></pre>
      </mat-card-content>
      }
      @default {}
      }

      <mat-card-footer>
        <div class="flex flex-row gap-2 justify-around mx-4 my-4 text-sm text-slate-500">
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            번호: {{ sutraDTO.id }}
          </p>
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            저자 : {{ sutraDTO.author ==='-' ? '미상' : sutraDTO.author }}
          </p>
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            번역 : {{ sutraDTO.translator }}
          </p>
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            일자 : {{ created | date: 'yyyy-MM-dd H:mm:dd EEEE': '':'ko-KR' }}
          </p>

        </div>
      </mat-card-footer>

      <mat-card-actions class="grid grid-cols-[1fr,1fr,1fr, 1fr] mb-8">
        <div class="flex justify-center w-full">
          <button type="button"
                  mat-raised-button
                  (click)="onDelete()"
                  color="accent">
            삭제
          </button>
        </div>

        <div class="flex justify-center w-full">

          <button type="button"
                  mat-raised-button
                  [cdkCopyToClipboard]="sutraDTO.sutra"
                  (click)="onCopyToClipboard()"
                  color="accent">복사</button>
        </div>

        <div class="flex justify-center w-full">

          <button type="button"
                  mat-raised-button
                  (click)="onScrollToTop()"
                  color="accent">스크롤</button>
        </div>

        <div class="flex justify-center w-full">

          <button type="button"
                  mat-raised-button
                  (click)="goNavigateUpdate(sutraDTO.id)"
                  color="primary">편집</button>
        </div>
      </mat-card-actions>
    </mat-card>

  </mat-tab>
  }
</mat-tab-group>
