.toggle-button {
    background-color: transparent;
    font-size: 1.3rem;
    padding: 0.4rem;
    color: teal;
    border: none !important;

    &:hover {
        background-color: teal !important;
        color: white;
        opacity: 0.8;
    }
}
