<div class="flex flex-col min-h-screen items-center ">
  <h3 class="font-poppins text-rose-400 text-center pt-8">&#10056; {{title}} &#10056;</h3>
  <figure class="max-w-lg">
    <img
         class="h-auto max-w-full
         opacity-70
         shadow-xl
         shadow-gray-600 rounded-lg"
         src="images/tobe-continue.webp"
         alt="">
    <figcaption
                class="mt-8 text-sm
                text-center text-gray-500
                dark:text-gray-400">{{message}}
    </figcaption>
  </figure>
</div>
