<div class="container-fluid mt-5">
  <div class="row">
    <div class="col text-center">
      <p>{{title}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md">

      <code contenteditable="true">
        <span style="color: blue">
        var</span> 
        foo = 
        <span style="color: green" #currentItem name="bar">
          "bar"</span>;
      </code>
    </div>

  </div>

  <div class="row">
    <div class="col-md">
      <span contenteditable="true" (input)="tagInput($event)">Hello, World</span>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">

      <button mat-raised-button id="editBtn" type="button">
        Edit Document
      </button>
      <hr>
      <!-- click,  -->
      <div contenteditable="true" (input)="tagInput($event)">Click me</div>
      <hr>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">

      <div class="editor-menu">
        <button mat-button id="btn-bold" (click)="setStyle($event, editor)">
          <b>Hello, World</b>
        </button>
      </div>
      <div id="editor" #editor playground contenteditable="true"></div>

    </div>
  </div>

</div>
