.viv-loading-shade {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 56px !important;
  right: 0 !important;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

table {
  width: 100% !important;
}

.element-row td {
  border-bottom-width: 0;
}

td,
th {
  white-space: normanl !important;
  word-wrap: break-word !important;
  max-width: 200px !important;
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-title {
  width: 30% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-categoryId {
  width: 16% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-userName {
  width: 12% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-created {
  width: 12% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-expand {
  width: auto !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 auto !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-right: auto !important;
  padding-right: auto !important;
}
