<div class="code-backup-container flex flex-col items-center justify-start gap-2 py-8 min-w-full">

  <!-- 백업 및 다운로드  -->
  <div class="w-full">

    <p *ngIf="isDownloadPossible" class="flex flex-row text-sky-600 justify-center h-24 items-center">

      <a type="button"
         class="flex flex-row items-center gap-2"
         (click)="downloadBackupFile(fileUrl)">
        <mat-icon>download</mat-icon>
        다운로드 준비완료 ( {{ format }} )
      </a>
    </p>

    <div class="flex justify-center items-center gap-4">
      <button type="button" mat-stroked-button (click)="makeBackupCsv()">백업파일 만들기 (CSV)</button>
      <button type="button" mat-stroked-button (click)="makeBackupJson()">백업파일 만들기 (JSON)</button>
    </div>
  </div>
  <!-- 나의 코드목록 -->
  <div class="w-full">
    <app-data-list [userId]="myId()" [title]="title"></app-data-list>
  </div>



</div>
