<form
    #form="ngForm"
    (submit)="onSubmit(form)"
    [class.submitted]="service.formSubmitted"
    novalidate
    autocomplete="off"
>
  <input
      type="hidden"
      name="paymentDetailEd"
      [value]="service.formData.paymentDetailId"
  >
  <div class="mb-3">
    <label for="ardOwnerName">Card Owner Name</label>
    <input
        class="form-control form-control-lg"
        type="text"
        name="cardOwnerName"
        id="cardOwnerName"
        placeholder="Name on Card"
        #cardOwnerName="ngModel"
        [(ngModel)]="service.formData.cardOwnerName"
        required
    >
  </div>

  <div class="mb-3">
    <label for="cardNumber">Card Number</label>
    <input
        class="form-control form-control-lg"
        type="text"
        name="cardNumber"
        id="cardNumber"
        placeholder="16 Digit Card Number"
        #cardNumber="ngModel"
        [(ngModel)]="service.formData.cardNumber"
        required
        minlength="16"
        maxlength="16"
    >
  </div>

  <div class="mb-3 col">
    <label for="securityCode">Security Code</label>
    <input
        class="form-control form-control-lg"
        type="password"
        name="securityCode"
        id="securityCode"
        placeholder="CVV"
        #securityCode="ngModel"
        [(ngModel)]="service.formData.securityCode"
        required
        minlength="3"
        maxlength="3"
    >
  </div>

  <div class="mb-3 col">
    <label for="expirationDate">Valid Through</label>
    <input
        class="form-control form-control-lg"
        type="text"
        name="expirationDate"
        id="expirationDate"
        placeholder="MM/YY"
        #expirationDate="ngModel"
        [(ngModel)]="service.formData.expirationDate"
        required
        minlength="5"
        maxlength="5"
    >
  </div>
  <div class="d-grid">
    <button
        class="btn btn-lg btn-success"
        type="submit"
    >
      Submit
    </button>
  </div>
</form>
