@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3-theme;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

@import "@angular/material/prebuilt-themes/azure-blue.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    margin: 0;

    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.button-theme(m3-theme.$light-theme);
    @include mat.checkbox-theme(m3-theme.$light-theme);
    @include mat.input-theme(m3-theme.$light-theme);
    @include mat.progress-spinner-theme(m3-theme.$light-theme);
    @include mat.sidenav-theme(m3-theme.$light-theme);
    @include mat.slider-theme(m3-theme.$light-theme);
    @include mat.snack-bar-theme(m3-theme.$light-theme);
    @include mat.tabs-theme(m3-theme.$light-theme);
    @include mat.tooltip-theme(m3-theme.$light-theme);
    @include mat.card-theme(m3-theme.$light-theme);
    @include mat.dialog-theme(m3-theme.$light-theme);
    @include mat.form-field-theme(m3-theme.$light-theme);
    @include mat.icon-theme(m3-theme.$light-theme);
    @include mat.list-theme(m3-theme.$light-theme);
    @include mat.menu-theme(m3-theme.$light-theme);
    @include mat.progress-bar-theme(m3-theme.$light-theme);
    @include mat.select-theme(m3-theme.$light-theme);
    @include mat.table-theme(m3-theme.$light-theme);
    @include mat.toolbar-theme(m3-theme.$light-theme);
    @include mat.tree-theme(m3-theme.$light-theme);

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

textarea {
    line-height: 1.5 !important;
}

textarea:focus,
input:focus {
    outline: none;
}

.ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-sans-kr-medium {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-sans-kr-semibold {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-sans-kr-bold {
    font-family: "IBM Plex Sans KR", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.noto-sans-kr-normal {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cute-font-regular {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-800 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

//--> form-field
.mdc-text-field--filled {
    // background-color: #fff !important;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity)) !important;

    // .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    //     /* Input text color and font size customization */
    //     .mdc-text-field__input {
    //         font-size: 12px;
    //     }

    // }

    /* On hover, change the background color */
    .mat-mdc-form-field-focus-overlay {
        background-color: green !important;
    }

    /* Change the border bottom color */
    .mdc-line-ripple::before,
    .mdc-line-ripple::after {
        border-bottom-color: rgb(28, 144, 92) !important;
    }
}
