@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3-theme;
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "@angular/material/prebuilt-themes/azure-blue.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.button-theme(m3-theme.$light-theme);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

textarea {
    line-height: 1.5 !important;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-kr-normal {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cute-font-regular {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;

    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-800 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
