.container-fluid {
  height: 100vh;
  background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}

mat-card-title {
  text-align: center;
  margin-bottom: 10px;
  color: gray;
}
