<div *ngIf="account$ | async as user" class="md:w-[calc(100%-1rem)] mt-8">
  <div class="text-3xl font-bold text-gray-600 cute-font-regular text-center">나의정보</div>
  <hr class="border-1 border-sky-100 mb-2" />
  <!-- User Info -->
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3"> Name </th>
        <th scope="col" class="px-6 py-3"> Email </th>
      </tr>
    </thead>

    <tbody>
      <tr class="bg-white border-b hover:bg-gray-50">
        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
          <img [src]="imagePath()" object-cover alt="profile picutre" class="w-36 h-36 rounded-full" />
          <div class="ps-3">
            <div class="text-xl font-semibold">{{user.fullName}}</div>
            <div class="font-normal text-gray-500">{{user.roles}}</div>
          </div>
        </th>
        <td class="px-6 py-4">
          <div class="text-gray-400 text-xl">{{user.email}}</div>
          <div class="text-sky-600">이메일 {{user.emailConfirmed ? '확인완료' : '미확인'}}</div>

        </td>
      </tr>
    </tbody>
  </table>
  <!-- ImageUploader -->
  <div class="w-full h-auto p-8">
    <app-image-uploader (onLoadFinished)="onLoadFinished($event)"></app-image-uploader>
  </div>
</div>
