<div class="flex max-lg:flex-col w-full h-24 left-0 items-center justify-center bg-opacity-80 opacity-80 bg-slate-700 text-slate-50">
  <div class="w-48 text-center p-4 content-center text-xl text-slate-400">ISY</div>
  <div class="flex-none grow text-lg mx-4 text-center content-center">
    Copyright {{ today| date: 'yyyy'}}. ISY Co. All rights reserved.
  </div>
  <div class="w-48 p-4 text-lg text-center content-center">
    <a href="https://www.vivabm.com" target="_blank" class="text-slate-400">ISY</a>
  </div>
</div>
