<div class="w-full">
  <div class="content">

    <form [formGroup]="form"
          (ngSubmit)="onSubmit()"
          (keydown.enter)="$event.stopPropagation()"
          class="min-h-screen">

      <div class="flex justify-evenly my-2">
        <button mat-raised-button
                (click)="onReset()"
                [disabled]="form.pristine"
                type="button">
          신규
        </button>

        <button mat-raised-button
                (click)="onCancel()"
                type="button">취소</button>

        <button mat-raised-button
                color="tertiar"
                [disabled]="form.invalid"
                type="submit">
          저장
        </button>
      </div>

      <span #result
            class="w-full bg-yellow-200 h-auto">
      </span>

      <!-- 수학수식 -->
      <mat-form-field class="grow w-full" [style.fontSize]="fontSize">

        <mat-label>Math</mat-label>
        <textarea matInput
                  name="katex"
                  #katex
                  placeholder="Math"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize"
                  formControlName="katex"></textarea>
        <mat-hint>
          <span #mathContainer></span>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="grow w-full" [style.fontSize]="fontSize">

        <mat-label>Markdown</mat-label>
        <textarea matInput
                  name="markdown"
                  #markdown
                  placeholder="Markdown"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize"
                  formControlName="markdown"></textarea>
        <mat-hint>마크다운을 입력하세요.</mat-hint>
      </mat-form-field>

      <div class="editor NgxEditor__Wrapper">

        <!-- Menu (메뉴) -->
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"
                         [customMenuRef]="customMenu">
        </ngx-editor-menu>

        <!-- Body (본문) -->
        <ngx-editor [editor]="editor"
                    placeholder="HTML"
                    #html
                    formControlName="html">
          <!-- Floating Menu -->
          <ngx-editor-floating-menu [editor]="editor">
          </ngx-editor-floating-menu>

        </ngx-editor>

      </div>
      <div [innerHTML]="editor.view.dom.innerHTML | safeHtml"></div>
      <div #htmlRender class="my-8"> </div>

    </form>

    <!-- custom menu -->
    <ng-template #customMenu>
      <app-custom-menu [editor]="editor"></app-custom-menu>
    </ng-template>

  </div>


</div>
