<div class="page-container"
     [ngClass]="{ 'md:grid-cols-[275px_1fr]': showLeft(), 'md:grid-cols-[0px_1fr]': !showLeft() }">

  <!-- 왼쪽 사이드바 -->
  <div class="relative bg-sidebar"
       [class.md:w-0]="!showLeft()"
       [class.md:w-full]="showLeft()">

    <mat-accordion class="m-3 border-none" multi>
      <mat-expansion-panel [expanded]="false"
                           class="bg-slate-100">
        <mat-expansion-panel-header class="panel-header"> {{title()}} </mat-expansion-panel-header>

        @for (menu of menus(); track $index) {
        <mat-panel-description
                               class="flex flex-row w-full pt-1 gap-2 justify-start">
          <a type="button"
             class="btn-default shadow-2xs/10"
             [routerLink]="[menu.url]" [routerLinkActive]="['text-yellow-700']"
             [routerLinkActiveOptions]="{ exact: menu?.exact ?? false}">
            <span class="flex gap-2 items-center font-ibm">
              <mat-icon fontSet="material-icons-outlined"> {{ menu.icon }} </mat-icon>
              {{menu.title}}
            </span>
          </a>
        </mat-panel-description>
        }

      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <!-- 바디 -->
  <div class="relative p-0 w-full">
    <router-outlet />
  </div>
</div>
