<!-- <mat-form-field class="w-full">
  <mat-label>Textarea</mat-label>
  <textarea matInput #editorTextarea class="w-full" style="display: none;"></textarea>
  <div #editor class="w-full min-h-48 my-4"></div>
</mat-form-field> -->


<!--
<div #codeMirrorContainer class="w-full min-h-48 my-4"></div>
<div #editorCsharp id="editorCsharp" class="w-full min-h-48 my-4"></div>

<div #editorRun></div>

<div class="codingIDE" #editorJs class="w-full min-h-48 my-4"></div> -->

<app-code-markdown></app-code-markdown>
<div class="w-full text-white text-3xl min-h-8 my-4"></div>
<!-- <app-code-javascript></app-code-javascript> -->
