<nav class="grid grid-cols-3">
  <ng-container *ngFor="let menuItem of menuItems">
    <a
      type="button"
      [routerLink]="[menuItem.link]"
      class="px-4 py-2
                    m-1 rounded-lg
                    bg-sky-500
                    text-white
                    hover:bg-sky-900
                    text-center"
    >
      {{ menuItem.alias }}
    </a>
  </ng-container>
</nav>



<!--
      (click)="goNav(menuItem.link)"
[routerLink]="menuItem.link"
// Use this if you want to use Angular Router
-->
