<div class="flex flex-col m-2 px-4 w-full h-full items-center justify-start">

  <h6 class="text-slate-600">&#8496; Shell Script Runner (zsh/bash) &#8496;</h6>
  <div class="w-full h-1/2 px-0 rounded-md bg-white overflow-auto mr-4 ml-1 border-2">
    <pre><code
        id="clipboard-korean"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        class="text-sm !font-ibm"
      [highlightAuto]="scriptOutput"
      ></code></pre>
  </div>

  <div class="w-full flex-1  mt-2 box-border px-0">

    <div class="w-full flex justify-center items-center">
      <button mat-button (click)="clearScript()" class="my-2"> Clear &#8659; </button>
      <button mat-button (click)="runScript()" class="my-2"> &#8657; Run </button>
    </div>

    <mat-form-field class="w-full">
      <mat-label>Input Your Shell Script (zsh/bash) </mat-label>
      <textarea matInput
                [(ngModel)]="script"
                rows="13"
                #scriptInput
                (keydown.enter)="$event.stopPropagation()"
                class="w-full !text-sm !font-firacode"></textarea>
    </mat-form-field>

  </div>
</div>
