<div class="w-full min-h-screen bg-way
            bg-center bg-cover relative
            opacity-90
            grid lg:grid-cols-[1fr_200px]
            bg-no-repeat">

  <div class="relative w-auto border-none flex flex-col h-screen justify-start p-4 items-center z-100">
    <h3 class="text-sky-700 font-noto">{{roomName()}}</h3>
    <div class="w-full px-4 h-8 py-2 flex flex-row justify-evenly items-center">

      <!-- * 연결 상태 * -->
      <span class="font-semibold text-sm"
            [class.text-sky-700/90]="isConnected()"
            [class.text-red-400]="!isConnected()">
        <mat-icon> {{ isConnected() ? 'wifi': 'wifi_off'}} </mat-icon>
      </span>

    </div>

    @if(hasMore()) {
    <div class="flex justify-center py-2">
      <button matButton="outlined"
              [disabled]="isLoadingMore()"
              (click)="loadMore()">
        @if (isLoadingMore()) {
        <mat-progress-spinner diameter="20" mode="indeterminate" />
        } @else {
        <span>
          <mat-icon>expand_less</mat-icon>
          이전 메시지 보기
        </span>
        }
      </button>
    </div>
    }

    <!-- * 메시지 히스토리 * -->
    <div #chatContainer
         class="min-h-3/5 max-h-3/5 flex flex-col
                gap-8 bg-transparent overflow-y-auto scroll-smooth
                my-4 w-full p-8 rounded-2xl">

      @for (item of allMessages(); track item.id || $index) {

      <mat-card animate.enter="enter-animation"
                [class]="usr()?.id === item.userId ? 'mr-auto' : 'ml-auto'"
                class="lg:w-[75%] max-lg:w-[90%] bg-transparent border-none"
                appearance="outlined">

        <mat-card-header
                         [class]="(usr()?.id === item.userId ) ? 'bg-sky-500' : 'bg-orange-500'"
                         class="pb-4 rounded-t-lg opacity-80">

          <mat-card-title-group class="relative"
                                [class]="usr()?.id === item.userId ?'flex flex-row-reverse' : 'flex flex-row'">

            <!-- * 필명 * -->
            <mat-card-title
                            class="font-cute flex gap-2 items-center tracking-widest text2xl"
                            [class]="'text-sky-100 text-shadow-2xs' ">
              <mat-icon fontSet="material-icons-outlined">spa</mat-icon>
              {{item.userName}}
            </mat-card-title>

            <!-- * 시간 *  -->
            <mat-card-subtitle class="text-yellow-100 text-end mt-1 text-xs">
              {{item.sentAt | date: 'hh:mm:ss'}}
            </mat-card-subtitle>

            <!-- * 아바타 * -->
            <img mat-card-sm-image
                 [class]="(usr()?.id === item.userId)
                              ? '-top-8 -left-8 border-sky-500 '
                              : '-top-8 -right-8 border-orange-500'"
                 class="rounded-full object-contain object-center absolute border-4"
                 [appImageFallback]="'lotus.webp'"
                 [src]="getAvatar(item.userId, item.avatar)"
                 alt="avatar">

          </mat-card-title-group>

        </mat-card-header>

        <mat-card-content
                          class="bg-amber-100 mt-1 px-4 py-4
                                    font-noto text-base/relaxed
                                    opacity-75
                                    rounded-b-xl text-slate-800">
          <pre class="font-pen text-2xl tracking-wider text-wrap whitespace-pre-wrap">{{item.content}}</pre>
        </mat-card-content>

      </mat-card>
      }

    </div>

    <!-- * 글쓰기 * -->

    <form
          [formGroup]="form"
          (ngSubmit)="onSubmit($event)"
          class="absolute bottom-28 w-full px-8">


      <mat-form-field appearance="outline" class="w-full">

        <mat-label class="text-white">message</mat-label>

        <textarea matInput
                  formControlName="message"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMaxRows="5"
                  cdkAutosizeMinRows="1"
                  rows="3"
                  class="text-white text-2xl font-ibm w-full"></textarea>

      </mat-form-field>



      <div class="w-full flex justify-center gap-4">

        <button matButton="elevated"
                type="button"
                class="hover:bg-rose-400 hover:text-white"
                (click)="leaveRoom()">
          <mat-icon fontSet="material-icons-outlined">logout</mat-icon> 방 나가기
        </button>

        <button matButton="elevated"
                type="button"
                class="hover:bg-slate-400 hover:text-white"
                (click)="resetForm()">
          <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
          다시작성
        </button>

        <button matButton="elevated"
                type="submit"
                class="hover:bg-blue-500 hover:text-white"
                [disabled]="form.invalid || !isConnected()">
          <mat-icon matsuffix>send</mat-icon>
          메세지 전송
        </button>
      </div>

      <div class="grid mt-4 rounded border-amber-200/20 border px-4 justify-evenly bg-sky-400/10">
        <p class="text-slate-700/75 font-cute text-center"> {{ store.systemMessage() }} </p>
      </div>
    </form>

  </div>

  <!-- * 참여인원 * -->
  <ul class="flex flex-col gap-2 p-4 w-full h-auto bg-transparent text-white">
    <li class="w-full px-4 text-slate-400 text-center">참여 인원
      <span class="text-rose-400"> {{participants().length}} </span>
      명
    </li>
    @for (item of participants() ; track $index) {
    <li class="w-full rounded-full bg-teal-600
              border-orange-400 border-4 px-4 py-2 tracking-widest
               flex flex-row gap-2 items-center">

      <img [src]="getAvatar(item.userId, item.avatar)"
           class="rounded-full" width="32" alt="item.pseudonym">

      <span class=" font-cute text-base text-nowrap"> {{ item.userName }} </span>

    </li>
    }@empty { <li clas="p-4 text-xs text-slate-400">참여자가 없습니다.</li> }

  </ul>

</div>
<!-- 애니메이션과 함께 표시/숨김 -->
<div class="fixed right-6 bottom-6 w-auto
            rounded-2xl z-100
            h-auto p-4 flex items-center justify-center
            transition-all duration-300
            hover:bg-slate-300/70">
  <scroll-to [scrollTarget]="chatContainer" />
</div>
