<nav class="flex flex-row bg-gradient-to-r
        from-sky-800
        via-sky-300
        to-sky-500
        justify-evenly
        items-center text-3xl noto-sans-kr-normal px-4 py-4">
  <a type="button"
     (click)="goNavigate('', null)"
     class="flex-none w-38 text-sky-300 border-b-4 border-sky-300 opacity-80 inter-800">
    BUDDHA
  </a>

  <!-- 중앙 공백 -->
  <div class="grow"> </div>

  <!-- Sutra -->
  <div class="pb-2 pr-8">
    <a type="button"
       class="flex-none inter-800  text-xl text-sky-600 hover:text-white"
       (click)="goNavigate('Buddha', null)">
      Sutra
    </a>
  </div>


  @if (isLoggedIn || authServices.isLoggedIn()) {
  <!-- 로그인 후 -->
  <div *ngIf="authServices.getUserDetail() as user">
    <div class="flex gap-5 items-center">
      <a [matMenuTriggerFor]="menu"
         class="flex gap2 cursor-pointer items-center">
        <div class="bg-sky-600 text-white
             font-bold
             shadow-md
             rounded-full
             w-5 h-5 p-5
             text-xl
             flex items-center justify-center">
          {{ user?.fullName[0].toUpperCase() }}
        </div>
        <div class="text-white flex flex-col ml-2 mb-0 mt-2">
          <p class="p-0 m-0 font-medium text-xs">{{ user?.fullName }}</p>
          <p class="p-0 m-0 font-medium text-xs">{{ user?.role }}</p>
        </div>
      </a>

      <mat-menu #menu="matMenu">
        <button [routerLink]="['/Role']"
                mat-menu-item
                type="button"
                *ngIf="isAdmin"
                mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>역할관리</span>
        </button>
        <button [routerLink]="['/Users']"
                mat-menu-item
                type="button"
                *ngIf="isAdmin"
                mat-menu-item>
          <mat-icon>groups</mat-icon>
          <span>회원목록</span>
        </button>
        <button [routerLink]="['/Profile/Account', id]"
                mat-menu-item
                type="button"
                mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>프로파일</span>
        </button>
        <button mat-menu-item
                [routerLink]="['/Profile/SignOut']">
          <mat-icon>logout</mat-icon>
          <span>로그아웃</span>
        </button>

      </mat-menu>
    </div>
  </div>

  } @else { <!-- 로그인 전 -->

  <!-- 글관리 메뉴 -->
  <button [hidden]="!isDev" type="button"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="ml-4 flex flex-col items-center rounded-full"
          aria-label="Example icon-button with a menu">
    <mat-icon class="text-sky-800 mb-1">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button type="button"
            (click)="goNavigate('SignUp', null)"
            mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>회원가입</span>
    </button>

    <button type="button"
            (click)="goNavigate('SignIn', null)"
            mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>로그인</span>
    </button>
  </mat-menu>
  }

</nav>
