<div class="flex justify-center p-4 w-full min-h-screen">
  <form [formGroup]="form" class="w-150 h-full rounded-4xl bg-amber-100/50 p-8 flex flex-col gap-4"
        (ngSubmit)="onSubmit($event)">

    <!-- 아이디 -->
    <mat-form-field appearance="fill" hidden class="w-full">
      <mat-label>아이디</mat-label>
      <input matInput required placeholder="아이디"
             class="text-xl text-slate-400 font-bold"
             readonly
             formControlName="id">
      <mat-icon matPrefix>scatter_plot</mat-icon>
      <mat-hint class="text-sky-600"> 아이디는 자동발급으로 수정불가능합니다. </mat-hint>
    </mat-form-field>

    <!-- 이름 -->
    <mat-form-field appearance="fill" class="w-full">

      <mat-label>이름</mat-label>
      <input matInput required
             class="text-xl text-teal-900 font-ibm"
             placeholder="이름" formControlName="fullName">
      <mat-icon matPrefix>scatter_plot</mat-icon>
      <mat-hint class="text-sky-600"> 실명 보다는 법명 또는 추후 원하시는 불명을 추천합니다.</mat-hint>
      @if (hasError('fullName', 'required')) { <mat-error>이름은 필수 항목입니다.</mat-error> }

    </mat-form-field>

    <mat-form-field appearance="fill" hidden class="w-full">

      <mat-label>아바타</mat-label>
      <input matInput required
             class="text-xl text-teal-900 font-ibm"
             placeholder="아바타" formControlName="avatar">
      <mat-icon matPrefix>scatter_plot</mat-icon>
      <mat-hint class="text-sky-600">아바타 변경은 상단 이미지를 클릭하여 변경하세요.</mat-hint>
      @if (hasError('avatar', 'required')) { <mat-error>아바타는 필수 항목입니다.</mat-error> }


    </mat-form-field>

    <!-- 필명 -->
    <mat-form-field appearance="fill" class="w-full">

      <mat-label>필명</mat-label>
      <input matInput required
             class="text-xl text-teal-900 font-ibm"
             placeholder="필명" formControlName="pseudonym">
      <mat-icon matPrefix>scatter_plot</mat-icon>
      <mat-hint class="text-sky-600">필명은 모든 글의 표시이름이 됩니다.</mat-hint>
      @if(hasError('pseudonym', 'required')) { <mat-error>필명은 필수 항목입니다.</mat-error> }
      <!-- 로딩 스피너 -->
      @if (form.get('pseudonym')?.pending) {
      <mat-spinner matSuffix class="mr-4" [diameter]="25">
      </mat-spinner>
      }
      <!-- 필명 중복 체크 -->
      @if(hasError('pseudonym', 'pseudonymTaken')) {
      <mat-error>이미 사용 중인 필명입니다.</mat-error>
      }

    </mat-form-field>

    <div class="flex justify-center items-center">
      <button matButton="elevated" type="submit">정보수정</button>
    </div>

  </form>
</div>
