<div
     class="signup-container bg-transparent flex flex-col items-center justify-center w-full">


  <!-- form -->
  <form (ngSubmit)="onSubmit()"
        autocomplete="off"
        [formGroup]="form"
        class="2xl:w-1/4
              xl:2/3 lg:w-3/4 md:w-1/2
              sm:w-4/5 shadow-2xl border-red-700 border-5 rounded-3xl
              mx-8 bg-transparent p-10">

    @for (error of errors; track $index) {
    <div class="text-red-600 px-4 py-3 text-xs rounded-md bg-slate-300 text-center">
      {{ error.description}}
    </div>
    }

    <!-- 제목 -->
    <div class="text-5xl
                mb-8 text-slate-100
                font-bold font-cute
                text-center">회원가입</div>

    <!-- 아이디 -->
    <mat-form-field appearance="fill" class="w-full">

      <mat-label>아이디 (이메일)</mat-label>
      <input matInput required placeholder="이메일" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
      <mat-hint *ngIf="form.get('email')?.hasError('email') &&
                        (form.get('email')?.dirty || form.get('email')?.touched)">
        <span class="text-red-600">
          <strong>이메일</strong>은 필수 항목입니다.
        </span>
      </mat-hint>
    </mat-form-field>

    <!-- 이름 또는 필명 -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>필명</mat-label>
      <input matInput placeholder="닉네임" formControlName="fullName">
      <mat-icon matPrefix>person</mat-icon>
      <mat-hint *ngIf="form.get('fullName')?.hasError('required') &&
                       (form.get('fullName')?.dirty || form.get('fullName')?.touched)">
        <span class="text-red-600">
          <strong>이름</strong> 필수 항목입니다.
        </span>
      </mat-hint>
    </mat-form-field>


    <!-- 비밀번호 -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>비밀번호</mat-label>
      <input matInput required min="6" type="{{hidePassword===true ? 'password' : 'text' }}"
             placeholder="로그인 비밀번호 (6자 이상)" formControlName="password">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon
                (click)="hidePassword = !hidePassword"
                matSuffix class="cursor-pointer">
        {{ hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-hint
                *ngIf="(form.controls['password'].hasError('required') ||
                      form.get('password')?.hasError('minlength')) &&
                      (form.get('password')?.dirty || form.get('password')?.touched)">
        <span class="text-red-600">
          <strong>비밀번호</strong> 는 6자 이상 필수 항목입니다.
        </span>
      </mat-hint>
    </mat-form-field>

    <!-- 비밀번호 확인 -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>비밀번호 확인</mat-label>
      <input matInput type="{{hidePassword===true ? 'password' : 'text' }}" placeholder="비밀번호 확인"
             formControlName="confirmPassword">
      <mat-icon matPrefix>lock</mat-icon>

      <mat-icon
                (click)="hidePassword = !hidePassword;"
                matSuffix class="cursor-pointer">
        {{ hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>

      <mat-hint
                *ngIf="form.hasError('passwordMismatch') &&
                form.get('confirmPassword')?.dirty &&
                form.get('confirmPassword')?.touched">

        <span class="text-red-600">비밀번호가 서로 일치하지 않습니다. </span>

      </mat-hint>
    </mat-form-field>

    <div class="flex flex-row justify-evenly gap-2 items-center">

      <!-- 취소하기 -->
      <button mat-raised-button color="primary" type="button" (click)="onCancel()" class="mt-4 !w-1/4">
        취소
      </button>

      <button mat-raised-button type="submit" class="mt-4 !w-3/4">
        가입
      </button>

    </div>
    <!-- Sign In Link -->
    <div (click)="goToSignIn()"
         class="flex justify-center text-yellow-300 hover:text-slate-50 cursor-pointer mt-8 w-full">
      이미 회원이신가요? 로그인
    </div>
    <!-- Submit Button -->

  </form>

</div>
