<div class="flex flex-col">

  <div class="font-cute text-center text-5xl text-slate-600">
    {{ title }}
  </div>

  <mat-form-field>
    <mat-label>검색</mat-label>
    <input matInput (keyup)="codeFilter($event)" #input placeholder="모두 검색" />
  </mat-form-field>

  <!-- 테이블 시작 -->
  <table mat-table #matTable [dataSource]="dataSource" multiTemplateDataRows
         matSort
         id="matTable"
         (matSortChange)="sortChange($event)">

    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <!-- 열 제목 -->
      <th mat-header-cell mat-sort-header
          class="!text-xl !text-yellow-900 !font-extrabold"
          *matHeaderCellDef>
        {{ columnsName[0] }}
      </th>

      <!-- 열 -->
      <td mat-cell *matCellDef=" let element" class="fira-code">
        <span>&#9784;</span>
        <span>&nbsp;&nbsp;</span>
        <span> {{ element[column].trim() }} </span>
      </td>

    </ng-container>

    <!-- 접히는 컨텐츠 -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="w-4">

        <button type="button" mat-icon-button
                (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation() ">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplayWithExpand.length"
          class="bg-slate-50">
        <div
             [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed' ">
          <div class="flex flex-col">

            <!-- 코드 부분 -->
            <mat-card class="mat-cards !shadow-none w-full">
              <mat-card-title></mat-card-title>

              <mat-card-content class="rounded-xl shadow-sm">
                <pre class="p-4"><code [highlightAuto]="element.content" lineNumbers
               class="text-lg fira-code text-wrap">
             </code></pre>
              </mat-card-content>

              <mat-card-footer class="text-center my-4">
                <button type="button" mat-icon-button
                        [cdkCopyToClipboard]="element.content"
                        (click)="copyToClipboard()">
                  <mat-icon>content_copy</mat-icon>
                </button>
              </mat-card-footer>
            </mat-card>

            <!-- 노트 시작 -->
            <mat-card class="py-4 my-4 mat-cards !shadow-none">
              <mat-card-content class="rounded-xl shadow-sm">
                <pre class="md:p-4 max-md:p-4"><code [highlightAuto]="element.note" lineNumbers
                 class="text-lg fira-code text-wrap"></code></pre>
              </mat-card-content>

              <mat-card-footer class="text-center my-4">
                <button type="button" mat-icon-button [cdkCopyToClipboard]="element.note"
                        (click)="copyToClipboard()">
                  <mat-icon>content_copy</mat-icon>
                </button>
              </mat-card-footer>
            </mat-card>
            <!-- end of card -->

          </div>
        </div>
      </td>
    </ng-container>

    <!-- 접히는 컨텐츠 끝 -->

    <tr
        mat-header-row
        class="sutra-header-row"
        *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

    <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="hover:cursor-pointer hover:bg-slate-100 hover:text-sky-700"
        [class.sutra-expandedElement]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; exec(element)">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
        class="sutra-detail-row !h-0"> </tr>
  </table>

  <mat-paginator
                 [pageSize]="rowsSize"
                 class="sutra-paginator"
                 [pageSizeOptions]="[5, 10, 20, 25, 50, 75, 100, 300]">
  </mat-paginator>
</div>
