<div class="flex flex-col items-baseline h-64 w-full">

  <!-- form  -->
  <form class="h-32">
    <label class="block">
      <input type="file"
             id="uploadFile"
             #upload
             class="block w-full p-4 text-sm text-slate-500
                    file:mr-4 file:py-2
                    file:px-4
                    file:rounded-lg
                    file:border-0
                    file:text-sm file:font-semibold
                    file:bg-violet-50 file:text-violet-700
                    hover:file:bg-violet-100" />
    </label>
  </form>

  <div class="w-full h-16 flex flex-row items-center justify-evenly p-4">
    <button mat-raised-button color="primary" (click)="upload.click()">
      Select Files
    </button>
    <button mat-raised-button color="primary" (click)="uploadFile(upload.files)">
      Upload Files
    </button>
  </div>

  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

  <p class="w-full text-center pt-3 text-slate-500"> ( {{ message }} ) </p>

</div>
