<div>
  <div>
    <button type="button"
            (click)="scroll(0)"
            color="accent"
            matTooltip="Scroll Up"
            class="button-up-normal"
            mat-icon-button>
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
  <div>
    @if(isVisible) {
    <button type="button"
            (click)="save()"
            color="accent"
            matTooltip="Save Data"

            class="button-save"
            mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
    }

  </div>
  <div>
    <button type="button"
            (click)="scroll()"
            color="primary"
            matTooltip="Scroll Down"
            class="button-down-normal"
            mat-icon-button>
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</div>
