<div class="flex flex-col items-center gap-4 p-4 w-full min-h-screen">

  <div class="w-full px-4 h-8 py-2 flex flex-row
              justify-evenly items-center">

    <!-- 연결 상태 -->
    <span class="font-semibold text-sm"
          [class.text-green-400]="isConnected()"
          [class.text-red-400]="!isConnected()">
      <mat-icon>
        {{ isConnected() ? 'wifi': 'wifi_off'}}
      </mat-icon>
    </span>

  </div>

  <p class="text-teal-500">{{ pseudoName() }}</p>

  <!-- 방 목록 -->
  <div class="overflow-y-scroll scroll-smooth
              [&::-webkit-scrollbar]:hidden
              w-4/5 min-h-[70vh] bg-slate-400/10
              rounded-3xl border border-slate-400 p-4">

    @for (room of rooms(); track room.id) {
    <mat-card appearance="outlined" class="flex gap-4 h-auto border-none text-teal-800 mb-4">

      <mat-card-header>

        <mat-card-title class="flex font-cute justify-start items-start gap-4">
          <mat-icon fontSet="material-icons-outlined">badges</mat-icon> {{room.roomName}}
        </mat-card-title>

        <mat-card-subtitle class="text-slate-400 text-xs mt-4">
          방장: {{room.ownerName}} / 참여인원: {{room.currentParticipants}} 명
        </mat-card-subtitle>

      </mat-card-header>

      <mat-card-content class="text-yellow-800 bg-amber-50 px-4 py-2 overflow-y-scroll">
        {{room.description || '설명이 없습니다.'}}
      </mat-card-content>

      <mat-card-actions align="end" class="gap-2">

        <button matButton="outlined"
                (click)="deleteRoom(room.id)"
                [hidden]="!canDeleteRoom(room)"
                class="text-red-300">
          방 삭제
        </button>

        <button matButton="outlined" [disabled]="!isConnected()" (click)="joinAndEnter(room.id)">
          <mat-icon fontSet="material-icons-outlined">login</mat-icon>
          방 입장
        </button>

      </mat-card-actions>

    </mat-card>
    }
  </div>

  <!-- 컨트롤 버튼들 -->
  <div class="flex flex-row gap-4">
    <button matButton="elevated"
            (click)="disconnectServer()"
            [disabled]="!isConnected()">

      <mat-icon fontSet="material-icons-outlined">link</mat-icon>
      연결 끊기
    </button>
    <button matButton="elevated"
            (click)="toggleForm()">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
      {{showForm() ? '방 만들기' : '숨기기'}}
    </button>

    <button matButton="elevated"
            (click)="connectToServer()"
            [disabled]="isConnected()">

      <mat-icon fontSet="material-icons-outlined">link</mat-icon>
      서버 연결
    </button>

  </div>

  <!-- 방 만들기 폼 -->
  <form class="w-4/5 bg-white shadow-lg p-8 rounded-2xl"
        [hidden]="showForm()"
        (ngSubmit)="onSubmit($event)"
        [formGroup]="form">
    <div class="text-2xl mb-6 text-sky-800 font-bold text-center">
      방 만들기
    </div>

    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>방 이름</mat-label>
      <input type="text" id="roomName" matInput placeholder="방 이름을 입력하세요" formControlName="roomName" requireds>
      <mat-icon matPrefix fontSet="material-icons-outlined">label</mat-icon>
      @if (form.get('roomName')?.hasError('required')
      && (form.get('roomName')?.touched || form.get('roomName')?.dirty)) {
      <mat-error>방 이름은 필수입니다.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>방 설명</mat-label>
      <textarea matInput
                formControlName="description"
                rows="2"
                class="resize-none"
                placeholder="방 설명 (선택사항)"></textarea>
      <mat-icon matPrefix fontSet="material-icons-outlined">description</mat-icon>
    </mat-form-field>

    <div class="w-full flex justify-center gap-4">

      <button matButton="elevated"
              type="submit"
              [disabled]="form.invalid || !isConnected()">
        <mat-icon fontSet="material-icons-outlined">add</mat-icon>
        {{form.get('roomName')?.value}} 방 만들기
      </button>
    </div>
  </form>
</div>
