<!-- Background image -->
<div class="relative h-96 sm:h-screen bg-yellow-700/70
overflow-hidden
bg-cover bg-center bg-background-e bg-no-repeat p-12 text-center">

  <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full
            overflow-hidden
            bg-fixed ">

    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <main class="mb-4 text-9xl max-xl:text-7xl text-slate-300 cute-font-regular max-md:text-5xl font-extrabold">
          {{ myMessage}}
        </main>
        <button mat-stroked-button
                (click)="openSheet()"
                class="!hover:text-red-500 !text-slate-300">
          한줄 묵상
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center items-center bg-teal-900 text-white text-sm opacity-50 h-8 w-full"></div>

<!-- <app-start-progress></app-start-progress> -->

<div class="fixed left-1/2 top-1/2 z-50">
  @if(loading()) {
  <mat-spinner></mat-spinner>
  }
</div>
