<div class="flex flex-col items-center h-full w-full justify-center py-2 bg-sky-300">

  <div>
    <div>
      <h3>RxJS Ground</h3>
    </div>
    <div>
      @for (item of outputs; track $index) {
      <div class="my-2">
        <span>time: {{ item.time }}</span><br>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" />
          </svg>

          {{ item.message}}</span>
      </div>
      }
    </div>
  </div>

  <form
        (ngSubmit)="onSubmit()"
        class="w-1/2 flex flex-col gap-2">

    <mat-form-field class="w-full">
      <mat-label>이름</mat-label>
      <input matInput
             [(ngModel)]="name"
             name="name"
             placeholder="name" class="w-full" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>나이</mat-label>
      <input matInput
             [(ngModel)]="age"
             name="age"
             placeholder="age" class="w-full" />
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            type="buttom"
            (click)="resetAge()"
            class="w-full">
      나이 초기화
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            (click)="onSubmit()"
            class="w-full">
      저장
    </button>

  </form>

</div>
