table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 30px;
  color: darkgreen;
  font-size: 1.5em;
}

.row-hover {
  cursor: pointer;
}
