<div class="container-fluid">
  <div class="row w-100 justify-content-center">
    <div class="col w-100 text-center">
      <h3 class="text-info">{{ title }}</h3>
      <p>회원관리</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <form #ngForm [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <!-- FullName -->
        <mat-form-field
          class="w-100"
          hintLabel="Max 20 characters"
          appearance="outline"
        >
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            maxlength="20"
            placeholder="이름"
            name="fullName"
            formControlName="fullName"
          />
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input type="text" matInput formControlName="email" required />
          <mat-error *ngIf="userForm.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        
        <!-- Password -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input 
          name="password"
          formControlName="password"
          matInput [type]="hide ? 'password' : 'text'" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        
        <!-- Role -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>권한</mat-label>
          <mat-select name="role" formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role">{{
              role
            }}</mat-option>
          </mat-select>

        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <mat-dialog-actions class="text-center">
        <button
          type="button"
          mat-button
          [mat-dialog-close]="false"
          mat-dialog-close
        >
          Cancel
        </button>
        <button
          type="button"
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
        >
          Install
        </button>

        <button type="button" mat-button (click)="onClose()">Close</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
