@use "@angular/material" as mat;

@use "sass:map";

$primary: #9ff205;
$viv: rgb(9, 109, 145);
$theme-colors: (
  "primary": $primary,
  "viv": $viv,
);
$custom-colors: (
  "custom-color": #900,
);
// Merge the maps
$theme-colors: map.merge($theme-colors, $custom-colors);

@use "bootstrap/scss/bootstrap" with (
  $theme-colors: $theme-colors
);

@use "bootstrap/scss/functions";

@use "bootstrap/scss/mixins";

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
