<!-- <p>
  {{ userInfo | json }}
</p>

<asl-google-signin-button
                          type='standard'
                          size='medium'>
</asl-google-signin-button> -->


<!-- <div id="g_id_onload"
     data-client_id="1047896939272-pgva8msa1u5as0ts9io1uvtiist194ds.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-itp_support="true"
     data-callback="handleOauthResponse">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->
<!--
<div id="g_id_onload"
     data-client_id="1047896939272-pgva8msa1u5as0ts9io1uvtiist194ds.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="afterLoggedIn"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->

<div id="g_id_onload"
     data-client_id="1047896939272-pgva8msa1u5as0ts9io1uvtiist194ds.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4456/SocialLogin"
     data-nonce=""
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
