<div class="grid grid-cols-4 max-md:grid-cols-1">

  <nav class="h-fit p-4 md:pt-2">
    <mat-accordion>
      @for (item of kors; track $index) {
      <mat-expansion-panel (opened)=" panelOpenState.set(true)"
                           (closed)="panelOpenState.set(false)">

        <mat-expansion-panel-header>
          <mat-panel-title> {{ item.key }} </mat-panel-title>
        </mat-expansion-panel-header>

        @for (sutra of (sutras$ | async); track $index) {
        @if (item.value === sutra.hangulOrder) {
        <a (click)="goNavigate(sutra.id)"
           class="block text-nowrap"> {{ sutra.title }} </a> }
        }

      </mat-expansion-panel>
      }

    </mat-accordion>

  </nav>

  <main class="col-span-3 pt-2">
    <router-outlet></router-outlet>
  </main>
</div>
