<div class="footer-basic bg-info mt-1">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item">
        <button type="button" mat-button (click)="goTo('/intro')">Home</button>
      </li>
      <li class="list-inline-item">
        <button
                type="button"
                mat-button
                (click)="openSnackBar('.NET Solution Helper', '제공 서비스')">
          Service
        </button>
      </li>

      <li class="list-inline-item">
        <button
                type="button"
                mat-button
                (click)="openSnackBar('Programer', 'About')">
          About
        </button>

      </li>
      <li class="list-inline-item">
        <button
                type="button"
                mat-button
                (click)="openSnackBar('.NET, C#, ASP.NET Core Api, Javascript Framework, DBMS, Excel/PowerPoint VBA', '주요카테고리')">
          Contents
        </button>
      </li>

      <li class="list-inline-item">
        <button type="button" mat-button (click)="goToExpert()">
          Expert
        </button>
      </li>
    </ul>
    <p class="copyright text-center">ViV © 2022</p>
  </footer>
</div>
