<div class="flex w-full gap-2 h-full">

  <mat-form-field class="w-1/2">
    <mat-label>{{data}}</mat-label>
    <textarea
              matInput
              [placeholder]="data"
              [cdkTextareaAutosize]="{minRows: 2, maxRows: 15}"
              (keyup)="toMarkdown($event)"
              [(ngModel)]="markdownInput"
              (keydown.enter)="$event.stopPropagation()"
              #input
              rows="15"></textarea>
  </mat-form-field>

  <markdown
            [data]="output"
            class="bg-slate-50
            w-1/2
            min-h-full
            max-h-full
            rounded-md
            #output
            shadow-sm
            text-xl
            px-2
            py-1
            flex justify-start items-baseline
            text-sky-800
            shadow-slate-500"
            [katexOptions]="katexOptions"
            katex
            mermaid
            clipboard
            #markdownOutput
            clipboard>
  </markdown>

</div>
