<div>
  <button type="button"
          *ngIf="showTopButton"
          (click)="scrollToTop()"
          matTooltip="Scroll Up"
          class="go-to-top text-sky-600 hover:bg-red-800 hover:text-white"
          mat-icon-button>
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>

<!-- <div [hidden]="!isHideArrow"> -->
<div>
  <button type="button"
          *ngIf="showBottomButton"
          (click)="scrollToBottom()"
          matTooltip="Scroll Down"
          class="go-to-bottom text-sky-600 hover:bg-red-800 hover:text-white"
          mat-icon-button>
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>
