@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

@import 'bootstrap-icons/font/bootstrap-icons';
@import 'leaflet/dist/leaflet.css';
@import 'tailwindcss' important;

@theme {
  --font-roboto: 'Roboto', 'Noto Sans KR', sans-serif;
  --font-roboto-con: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
  --font-cute: 'Cute Font', 'Chiron Sung HK', sans-serif;
  --font-ibm: 'IBM Plex Sans KR', sans-serif;
  --font-noto: 'Noto Sans KR', sans-serif;
  --font-poppins: 'Poppins', 'IBM Plex Sans KR', sans-serif;
  --font-dongle: 'Dongle', sans-serif;
  --font-pen: 'Nanum Pen Script', cursive;
  --font-brush: 'Nanum Brush Script', cursive;
  --font-flower: 'Sunflower', sans-serif;
  --font-hanmun: 'Chiron Sung HK', serif;
  --font-hanmun2: 'Chiron GoRound TC', sans-serif;
  --font-diphy: 'Diphylleia', serif;
  --font-a1: 'Gothic A1', sans-serif;
  --font-stylish: 'Stylish', sans-serif;
  --font-inter: 'Inter', 'IBM Plex Sans KR', sans-serif;
  --font-indie: 'Indie Flower', cursive;
  --font-fira: 'Fira Code', monospace;

  --background-image-alone: url('/assets/images/alone.webp');
  --background-image-avatar-1: url('/assets/images/avatar-1.webp');
  --background-image-avatar-2: url('/assets/images/avatar-2.svg');
  --background-image-boy-1: url('/assets/images/boy-1.webp');
  --background-image-boy-2: url('/assets/images/boy-2.webp');
  --background-image-buddham-1: url('/assets/images/buddham-1.webp');
  --background-image-buddham-2: url('/assets/images/buddham-2.webp');
  --background-image-circle: url('/assets/images/circle.webp');
  --background-image-foot: url('/assets/images/foot.webp');
  --background-image-lake: url('/assets/images/lake.webp');
  --background-image-lotus-1: url('/assets/images/lotus-1.webp');
  --background-image-lotus-2: url('/assets/images/lotus-2.svg');
  --background-image-robot: url('/assets/images/robot.webp');
  --background-image-sand: url('/assets/images/sand.webp');
  --background-image-smile-1: url('/assets/images/smile-1');
  --background-image-smile-2: url('/assets/images/smile-2');
  --background-image-logo-16: url('/assets/logos/logo-32.svg');
  --background-image-logo-32: url('/assets/logos/logo-32.svg');
  --background-image-logo-64: url('/assets/logos/logo-64.svg');
  --background-image-logo-128: url('/assets/logos/logo-128.svg');
  --background-image-logo-256: url('/assets/logos/logo-256.svg');
  --background-image-logo-512: url('/assets/logos/logo-512.svg');
  --background-image-logo-1024: url('/assets/logos/logo-1024.svg');
  --background-image-winter: url('/assets/images/winter.webp');
  --background-image-way: url('/assets/images/way.webp');

  /* Color system */
  --color-primary: oklch(62% 0.18 230);
  --color-primary-hover: oklch(55% 0.18 230);

  --color-surface: oklch(98% 0.01 230);
  --color-surface-muted: oklch(94% 0.01 230);

  --color-danger: oklch(60% 0.2 25);
  --color-success: oklch(65% 0.18 140);

  /* Radius system */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 18px;

  /* Shadow system */
  --shadow-sm: 0 2px 4px rgb(0 0 0 / 0.06);
  --shadow-md: 0 6px 14px rgb(0 0 0 / 0.12);
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary
           text-white
           hover:bg-primary-hover
           rounded-xs
           px-4 py-2
           shadow-(--shadow-md);
  }
  .card {
    @apply bg-white shadow-md rounded-lg p-6;
  }
}
/* Tailwind Utilities Layer */
@layer utilities {
  /* 페이지 컨테이너 */
  .page-container {
    @apply grid relative min-h-screen w-full transition-all duration-300;
  }

  /* 페이지 배경 */
  .bg-body {
    @apply absolute inset-0 w-full h-screen overflow-y-scroll md:bg-linear-to-b md:from-sky-950/80 md:via-teal-700/50 md:via-50% to-transparent;
  }

  /* 왼쪽메뉴 배경  */
  .bg-sidebar {
    @apply overflow-y-auto duration-300 md:bg-linear-to-b md:from-sky-950/80 md:via-teal-700/50 md:to-transparent md:via-50% flex flex-col;
  }

  /* 왼쪽메뉴 a button */
  .btn-default {
    @apply flex items-center justify-start gap-2 h-12 w-full px-4 py-2 text-base font-ibm border-2 border-transparent rounded-full hover:bg-slate-200 hover:text-slate-600 active:bg-amber-200;
  }
}

/* 배경 이미지 공통 스타일 */
[style*='background-image'] {
  image-rendering: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 라우트별 배경색 */
main:has(.route-scripture),
main:has(.route-transcription),
main:has(.route-communication),
main:has(.route-document),
main:has(.route-about),
main:has(.route-membership) {
  background-color: rgba(240, 255, 255, 0.5);
}

main:has(.custom-card) {
  @apply bg-red-400;
}

mat-label {
  @apply text-slate-500 font-poppins;
}

mat-hint {
  @apply text-slate-400 w-full text-xs font-poppins flex justify-end;
}

/* 장면 전환 애니메이션 */
.entering {
  animation: entering-fade 0.3s;
}

@keyframes entering-fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 페이지 전환 효과 */
::view-transition-old(main-footer),
::view-transition-new(main-footer),
::view-transition-old(main-header),
::view-transition-new(main-header) {
  animation: none;
  mix-blend-mode: normal; /* 가끔 색상 섞임 방지 */
}

::view-transition-old(root) {
  animation: fade-out 1s forwards;
}

::view-transition-new(root) {
  animation: fade-in 1s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
