@use 'tailwindcss';
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

@layer components {
  .card {
    @apply bg-white shadow-md rounded-lg p-6;
  }
}

:root {
  @include mat.form-field-overrides(
    (
      filled-container-color: rgba(0, 153, 255, 0.075),
      outlined-hover-outline-color: rgb(8, 117, 175),
    )
  );
  @include mat.bottom-sheet-overrides(
    (
      container-background-color: rgba(248, 228, 6, 0.25),
    )
  );
}

html {
  height: 100vh;
  width: 100%;
  color-scheme: light;
  margin: 0;
  padding: 0;
  @include mat.system-classes();
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: "'Roboto', 'IBM Plex Sans KR', sans-serif",
        brand-family: "'Open Sans'",
      ),
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  margin: 0;
  padding: 0;
}

.alert-bottom-sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* 성공 (초록색 느낌) */
.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32; // Material 3 변수
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: #ffeb3b;
}

/* 에러 (빨간색 느낌) */
.snackbar-error {
  --mdc-snackbar-container-color: #c62828;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: #ffccbc;
}

[style*='background-image'] {
  image-rendering: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 장면이동 */
.entering {
  animation: entering-fade 0.3s;
}

// .farewell {
//   animation: farewell-fade 0.3s;
// }

@keyframes entering-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// @keyframes farewell-fade {
//   from {
//     opacity: 1;
//     transform: translateY(0);
//   }
//   50% {
//     opacity: 0.5;
//     transform: translateY(120px);
//   }
//   to {
//     opacity: 0;
//     transform: translateY(100px);
//   }
// }

/* 페이지 전환 효과 */
/* 헤더는 애니메이션 하지 마! (그냥 즉시 바뀜/유지) */
::view-transition-old(main-footer),
::view-transition-new(main-footer),
::view-transition-old(main-header),
::view-transition-new(main-header) {
  animation: none;
  mix-blend-mode: normal; /* 가끔 색상 섞임 방지 */
}

/*
  old : 사라지는 화면 스크린샷
  new : 나타나는 화면 스크린샷
*/
::view-transition-old(root) {
  animation: fade-out 0.3s forwards;
}
::view-transition-new(root) {
  animation: fade-in 0.3s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
  :root - CSS 표준, <html> tag (문서 전체)
  :host - Angular (Web Component) 현재 컴포넌트 태그 <app-xyz>
  ::view-transition-*  - CSS 표준 (최신 브라우저), 화면 전환 시 생성된는 스냅샷

  ul.custom-list li {
  background: url('/assets/images/circle-2.svg') no-repeat left center;
  background-size: 16px 16px;
  padding: 4px 0 4px 25px;
}
*/
/*
$red-palette
$green-palette
$blue-palette
$yellow-palette
$cyan-palette
$magenta-palette
$orange-palette
$chartreuse-palette
$spring-green-palette
$azure-palette
$violet-palette
$rose-palette
*/
