<form [formGroup]="form"
      class="h-full"
      (ngSubmit)="onSubmit()"
      (keydown.enter)="$event.preventDefault()">
  <mat-card class="pb-4">

    <mat-card-header class="flex w-full my-2 text-5xl justify-center">
      <div class="flex items-center text-slate-500 mb-4 cute-font-regular">
        <span class="text-2xl text-slate-400 mt-1">&#x2766;&nbsp;&nbsp;</span>
        <span>{{ form.controls["title"].value === null ? title : form.controls["title"].value }}</span>
        <span class="text-2xl mt-1 text-slate-400">&nbsp;&nbsp;&#x2766;</span>
      </div>
    </mat-card-header>

    <mat-card-content>

      <div class="flex w-full gap-2">

        <!-- 제목 Title -->
        <mat-form-field class="grow w-full" [style.fontSize]="fontSize.value">

          <mat-label>제목 ({{chapterMax}})</mat-label>
          <input matInput placeholder="필사제목" class="w-full" required="true" name="title" formControlName="title" />

          @if (form.controls["title"].hasError("required") && (form.controls["title"].touched || form.controls["title"].dirty)) {
          <mat-error><strong>제목</strong>은 필수 항목입니다.</mat-error>
          }

        </mat-form-field>
      </div>

      <!-- 정보  -->
      <div class="flex w-full items-center gap-2">
        <h6 class="text-slate-600 mx-4 grow">{{description}}</h6>

        <!-- 성서구분 CategoryId -->
        <mat-form-field class="flex-none w-44">
          <mat-label>성서</mat-label>
          <mat-select placeholder="Bible"
                      [value]="form.controls['categoryId'].value"
                      (selectionChange)="selectedCategory($event)"
                      formControlName="categoryId">
            <input matInput class="w-full !bg-slate-200" #filterplc />

            @for (category of categories; track category) {
            <mat-option
                        *ngIf="category.korName.toLocaleLowerCase().includes(filterplc.value.toLocaleLowerCase())"
                        [value]="category.id">
              <span class="text-slate-500">
                {{category.id | number:'2.0-0': ''}}.
              </span>
              <span class="text-rose-900 font-extrabold">
                {{ category.korName }}
              </span>

            </mat-option>
            }
          </mat-select>

          @if (form.controls["categoryId"].hasError("required") &&
          (form.controls["categoryId"].touched || form.controls["categoryId"].dirty)) {
          <mat-error><strong>성서구분</strong>는 필수 항목입니다.</mat-error>
          }

        </mat-form-field>
        <!-- 장-->
        <mat-form-field class="flex-none w-32">
          <mat-label>장 ({{chapterMax}})</mat-label>
          <mat-select
                      [value]="form.controls['chapter'].value"
                      formControlName="chapter"
                      (selectionChange)="selectedChapter($event)"
                      #chapter
                      value="20px">

            <ng-container>
              @for (item of chapterOptions(1); track $index) {
              <mat-option [value]="item">{{ item }}</mat-option>
              }
            </ng-container>
          </mat-select>
        </mat-form-field>

        <!-- 절 -->
        <mat-form-field class="flex-none w-32">
          <mat-label>절 ({{verseMax}})</mat-label>
          <mat-select [value]="form.controls['verse'].value" formControlName="verse" #verse value="20px">
            <ng-container>
              @for (item of verseOptions(1, verseMax); track $index) {
              <mat-option [value]="item">{{ item }}</mat-option>
              }
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex w-full items-center gap-2">
        <mat-button-toggle-group class="grow w-full flex flex-row h-12 justify-evenly mb-2">
          @for (item of rowArray; track $index) {
          <mat-button-toggle value="{{ item }}"
                             class="w-full flex justify-center !text-slate-400"
                             checked="{{ item == rows }}"
                             (change)="onToggleChange($event)">
            {{ item }} 줄
          </mat-button-toggle>
          }
        </mat-button-toggle-group>
        <!-- 글꼴 크기 -->
        <mat-form-field class="flex-none w-32">
          <mat-label>Font size</mat-label>
          <mat-select #fontSize value="20px" (selectionChange)="triggerResize()">
            <ng-container>
              @for (item of fontOptions(9, 72); track $index) {
              <mat-option [value]="item">{{ item }}</mat-option>
              }
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- textKor 성서 내용 (한글)-->
      <mat-form-field class="w-full" [style.fontSize]="fontSize.value">
        <mat-label>성서 (한글)</mat-label>
        <textarea matInput
                  name="textKor"
                  #textKor
                  placeholder="성서"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="textKor"></textarea>

        @if (form.controls["textKor"].hasError("required") &&
        (form.controls["textKor"].touched || form.controls["textKor"].dirty)) {
        <mat-error><strong>성서 (한글)</strong>는 필수 항목입니다.</mat-error> }
      </mat-form-field>

      <!-- textEng 성서 내용 (영문)-->
      <mat-form-field class="w-full" [style.fontSize]="fontSize.value">
        <mat-label>성서 (영문)</mat-label>
        <textarea matInput
                  name="textKor"
                  #textEng
                  placeholder="Bible"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="textEng"></textarea>
      </mat-form-field>

      <!-- comments 주석 -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>주석</mat-label>
        <textarea matInput
                  placeholder="Bible Comments"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="comments"></textarea>
      </mat-form-field>

    </mat-card-content>

    <!-- Submit -->
    <mat-card-actions class="flex justify-evenly">
      <button mat-raised-button
              (click)="onReset()"
              [disabled]="form.pristine || division === true"
              type="button">
        초기화
      </button>

      <button mat-raised-button
              (click)="onCancel()"
              type="button">취소</button>

      <button mat-raised-button
              color="tertiar"
              [disabled]="form.invalid"
              type="submit">
        저장
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <app-blank-space
                       [myIp]="this.form.controls['myIp'].getRawValue()"
                       [userId]="userId"
                       [userName]="userName"></app-blank-space>
    </mat-card-footer>
    <div>{{ serviceIp }}</div>
  </mat-card>

</form>

<app-scroll-arrow [isVisible]="visibleSaveButton" (saveData)="onSubmit()"></app-scroll-arrow>
