<form [formGroup]="form"
      class="h-full"
      (ngSubmit)="onSubmit()"
      (keydown.enter)="$event.preventDefault()">
  <mat-card class="pb-4">

    <mat-card-header class="flex w-full my-2 text-5xl justify-center">
      <div class="flex items-center text-slate-500 mb-4 cute-font-regular">
        <span class="text-2xl text-slate-400 mt-1">&#x2766;&nbsp;&nbsp;</span>
        <span>{{ form.controls["title"].value === null ? title : form.controls["title"].value }}</span>
        <span class="text-2xl mt-1 text-slate-400">&nbsp;&nbsp;&#x2766;</span>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="flex w-full gap-2">

        <!-- 제목 Title -->
        <mat-form-field class="grow w-full" [style.fontSize]="fontSize.value">

          <mat-label>제목</mat-label>
          <input matInput placeholder="Title" class="w-full" required="true" name="title" formControlName="title" />
          <app-print-error [control]="title"></app-print-error>

          @if (form.controls["title"].hasError("required") && (form.controls["title"].touched || form.controls["title"].dirty)) {
          <mat-error><strong>제목</strong>은 필수 항목입니다.</mat-error>
          }

        </mat-form-field>

        <!-- 카테고리 -->
        <mat-form-field class="flex-none w-48">
          <mat-label>Category</mat-label>
          <mat-select placeholder="카테고리"
                      [value]="form.controls['categoryId'].value"
                      formControlName="categoryId">
            @for (category of categories; track category) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
            }
          </mat-select>
          @if (form.controls["categoryId"].hasError("required") &&
          (form.controls["categoryId"].touched || form.controls["categoryId"].dirty)) {
          <mat-error><strong>색인</strong>은 필수 항목입니다.</mat-error>
          }
          <mat-error *ngIf="form.errors?.['categoryId']"><strong>색인</strong>은 필수 항목입니다.</mat-error>
        </mat-form-field>
      </div>

      <div class="flex w-full gap-2">

        <!-- 부 제목 SubTitle -->
        <mat-form-field class="grow w-full" [style.fontSize]="fontSize.value">

          <mat-label>부제목</mat-label>
          <input matInput placeholder="SubTitle" class="w-full" required="true" name="subTitle" formControlName="subTitle" />

          @if (form.controls["subTitle"].hasError("required") && (form.controls["subTitle"].touched || form.controls["subTitle"].dirty)) {
          <mat-error><strong>부 제목</strong>은 필수 항목입니다.</mat-error>
          }

        </mat-form-field>

        <mat-form-field class="flex-none w-48">
          <mat-label>Font size</mat-label>
          <mat-select #fontSize value="20px" (selectionChange)="triggerResize()">
            <ng-container>
              @for (item of fontOptions(9, 72); track $index) {
              <mat-option [value]="item">{{ item }}</mat-option>
              }
            </ng-container>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-button-toggle-group class="w-full flex flex-row justify-evenly mb-2">
        @for (item of rowArray; track $index) {
        <mat-button-toggle value="{{ item }}"
                           class="w-full flex justify-center"
                           checked="{{ item == rows }}"
                           (change)="onToggleChange($event)">{{ item }}</mat-button-toggle>
        }
      </mat-button-toggle-group>

      <!-- 코드 내용 -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>코드</mat-label>
        <textarea matInput
                  name="content"
                  #content
                  placeholder="Code"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="content"></textarea>

        @if (form.controls["content"].hasError("required") &&
        (form.controls["content"].touched || form.controls["content"].dirty)) {
        <mat-error><strong>코드</strong>는 필수 항목입니다.</mat-error> }
      </mat-form-field>

      <!-- 코드 설명 -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>코드 설명</mat-label>
        <textarea matInput
                  placeholder="Code Description"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="note"></textarea>
      </mat-form-field>

    </mat-card-content>
    <!-- Submit -->
    <mat-card-actions class="flex justify-evenly">
      <button mat-raised-button
              (click)="onReset()"
              [disabled]="form.pristine || division === true"
              type="button">
        초기화
      </button>

      <button mat-raised-button
              (click)="onCancel()"
              type="button">취소</button>

      <button mat-raised-button
              color="tertiar"
              [disabled]="form.invalid"
              type="submit">
        저장
      </button>
    </mat-card-actions>


    <mat-card-footer>
      {{ tempData | json }}
      <app-blank-space></app-blank-space>
    </mat-card-footer>
  </mat-card>

</form>

<app-scroll-arrow [isVisible]="visibleSaveButton" (saveData)="onSubmit()"></app-scroll-arrow>
