<nav class="bg-gray-800">

  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">

    <!-- 로고 및 메인 메뉴 -->
    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

      <div class="flex flex-shrink-0 items-center">
        <a id="viv" class="text-2xl min-w-28 py-2 my-2 rounded-md font-bold text-slate-50" (click)="goToLink('', null)">
          <span></span><span></span><span></span><span></span>
          {{ title | uppercase }}
        </a>
      </div>
      <div class="flex-none flex-grow"></div>
      <div class="max-sm:hidden sm:ml-6 sm:block">

        <div class="flex space-x-4">

          @for (menu of menus; track $index) {
          <!-- 메뉴 버튼 모음 -->
          <a class="rounded-xl
                    text-center
                    !font-noto
                    min-w-28
                    min-h-12
                    text-md
                    font-medium
                    py-2
                    mt-3
                    mb-2
                    hover:border-b-2
                    hover:border-b-cyan-600
                    border-2
                    border-gray-800
                    hover:text-cyan-400
                  text-white"
             aria-current="page"
             *ngIf="menu.param"
             (click)="goToLink(menu.url, menu.param)">
            {{ menu.title }}
          </a>
          }
          <a *ngIf="isLoggedIn" class="rounded-xl text-center !font-noto min-w-28 min-h-12 text-md font-medium py-2 mt-3 mb-2 hover:border-b-2
              hover:border-b-cyan-600 border-2 border-gray-800 hover:text-cyan-400 text-white" aria-current="page"
             [matMenuTriggerFor]="playground">
            연습장
          </a>

        </div>
        <mat-menu #playground="matMenu" class="!opacity-50">
          @for (menu of solutions; track $index) {
          <button mat-menu-item (click)="goToLink(menu.url, menu.param)">
            <span class="flex items-center gap-2"> <span class="material-symbols-outlined">
                {{menu.icon}}
              </span>
              <span>{{menu.title}}</span></span>

          </button>
          }
        </mat-menu>
      </div>
      <div class="flex-none flex-grow"></div>

      <div class="flex items-center justify-center h-full sm:hidden">

        <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menuItems">
          <mat-icon class="text-white mr-4 mt-2">menu</mat-icon>
        </button>
        <mat-menu #menuItems="matMenu">
          @for (menu of menus; track $index) {
          <button mat-menu-item (click)="goToLink(menu.url, menu.param)">
            <mat-icon>menu_open</mat-icon>
            <span>{{menu.title}}</span>
          </button>
          }
        </mat-menu>
      </div>

      <!-- 로그인 전/후 (사용자 아이콘) -->
      @if (isLoggedIn || authService.isLoggedIn()) {
      <!-- 로그인 후 -->
      <div *ngIf="authService.getUserDetail() as user">
        <div class="flex items-center pt-1">
          <a [matMenuTriggerFor]="menu" class="flex gap-2 cursor-pointer items-center">
            <img class="w-10 rounded-full" [src]="userAvata()" alt="{{user?.fullName}} Avata">
            <div class="text-sky-600 flex flex-col justify-center pt-2">
              <p class="font-medium hover:text-lime-300 text-xs">{{ user?.fullName }}</p>
              <p class="font-medium hover:text-lime-300 text-xs">{{ user?.roles }}</p>
            </div>
          </a>

          <mat-menu #menu="matMenu">
            <button
                    [routerLink]="['/Role']"
                    mat-menu-item
                    type="button"
                    *ngIf="isAdmin"
                    mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>역할관리</span>
            </button>
            <button
                    (click)="goToLink('UserList', null)"
                    mat-menu-item
                    type="button"
                    *ngIf="isAdmin"
                    mat-menu-item>
              <mat-icon>groups</mat-icon>
              <span>회원목록</span>
            </button>
            <button
                    (click)="goToProfile()"
                    mat-menu-item
                    type="button"
                    mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>프로파일</span>
            </button>
            <button mat-menu-item
                    type="button"
                    (click)="signOut()">
              <mat-icon>logout</mat-icon>
              <span>로그아웃</span>
            </button>
          </mat-menu>

        </div>
      </div>

      } @else {
      <!-- 로그인 전 -->
      <!-- 글관리 메뉴 -->
      <div class="flex flex-col justify-center items-center">
        <button [hidden]="!isDev" type="button"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                class="ml-4 flex flex-col items-center rounded-full"
                aria-label="Example icon-button with a menu">
          <mat-icon class="text-sky-800 mb-1">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button type="button"
                  (click)="goToLink('SignUp', null)"
                  mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span>회원가입</span>
          </button>

          <button type="button"
                  (click)="goToLink('SignIn', null)"
                  mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>로그인</span>
          </button>

        </mat-menu>

      </div>
      }
      <!-- 로그인 전/후 (사용자 아이콘)  -->

    </div> <!-- 로고 및 메인 메뉴 끝 -->
  </div>
  <div class="w-full h-1 bg-red-600"></div>
  @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }


</nav>

<!--  -->
