<nav class="flex flex-row justify-between gap-2 px-8 h-full
            items-center">

  <a id="viv" class="text-2xl px-4 py-2 rounded-md font-bold text-slate-50" (click)="goToLink('', null)">
    <span></span><span></span><span></span><span></span>
    {{ title | uppercase }}
  </a>

  <div class="flex-none grow"></div>

  <!-- 메뉴 버튼 모음 -->
  <a class="rounded-full hover:bg-teal-500 hover:text-cyan-100 text-center font-cute px-4 py-2 min-w-72
  text-4xl text-sky-800" (click)="goToLink('/Code', null)">
    코드조각
  </a>

  <div class="flex-none grow"></div>
  <!-- 메뉴 버튼 모음 끝 -->

  <!-- @if(isDev) { } -->
  @if (isLoggedIn || authService.isLoggedIn()) {

  <!-- 로그인 후 -->
  <div *ngIf="authService.getUserDetail() as user">
    <div class="flex gap-5 items-center">
      <a [matMenuTriggerFor]="menu" class="flex gap2 cursor-pointer items-center">
        <!-- <div class="bg-sky-600 text-white font-bold shadow-md rounded-full w-5 h-5 p-5
               text-xl flex items-center justify-center">
          {{ user?.fullName[0].toUpperCase() }}
        </div> -->
        <img class="w-10 h-10 rounded-full" [src]="userAvata()" alt="{{user?.fullName}} Avata">
        <div class="text-sky-600 flex flex-col ml-2 mb-0 mt-2">
          <p class="p-0 m-0 font-medium text-xs">{{ user?.fullName }}</p>
          <p class="p-0 m-0 font-medium text-xs">{{ user?.roles }}</p>
        </div>
      </a>
      <mat-menu #menu="matMenu">
        <button
                [routerLink]="['/Role']"
                mat-menu-item
                type="button"
                *ngIf="isAdmin"
                mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>역할관리</span>
        </button>
        <button
                (click)="goToLink('UserList', null)"
                mat-menu-item
                type="button"
                *ngIf="isAdmin"
                mat-menu-item>
          <mat-icon>groups</mat-icon>
          <span>회원목록</span>
        </button>
        <button
                (click)="goToProfile()"
                mat-menu-item
                type="button"
                mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>프로파일</span>
        </button>
        <button mat-menu-item
                type="button"
                (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span>로그아웃</span>
        </button>
      </mat-menu>

    </div>
  </div>

  } @else { <!-- 로그인 전 -->

  <!-- 글관리 메뉴 -->
  <button [hidden]="!isDev" type="button"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="ml-4 flex flex-col items-center rounded-full"
          aria-label="Example icon-button with a menu">
    <mat-icon class="text-sky-800 mb-1">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button type="button"
            (click)="goToLink('SignUp', null)"
            mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>회원가입</span>
    </button>

    <button type="button"
            (click)="goToLink('SignIn', null)"
            mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>로그인</span>
    </button>

  </mat-menu>
  }

</nav>
