<div class="grid grid-cols-12 w-full">
  <!-- 제목 -->
  <div
       class="flex flex-row items-center justify-center col-span-12 w-full
       mt-7 mb-4 text-4xl font-cute text-center text-teal-700">
    <span> {{ title }} </span>
  </div>

  <!-- 검색 시작 -->
  <mat-form-field class="col-span-12 w-full">
    <mat-label>검색</mat-label>
    <input
           matInput
           (keyup)="sutraFilter($event)"
           #input
           placeholder="제목 내용 모두 검색" />
  </mat-form-field>
  <!-- 검색 끝 -->

  <!-- 테이블 시작 -->
  <div class="col-span-12 mb-8">
    <table
           mat-table
           #matTable
           [dataSource]="dataSource"
           multiTemplateDataRows
           matSort
           id="matTable"
           (matSortChange)="sortChange($event)"
           class="sutra-table w-full">
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
        <th
            mat-header-cell
            mat-sort-header
            class="text-lg text-slate-500 font-bold"
            *matHeaderCellDef>
          {{ getKoName(column) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span>&#9784;</span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span>
            {{ element[column].trim() }}
          </span>
        </td>
      </ng-container>

      <!-- 접히는 컨텐츠 -->
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="w-4 mr-1">
          <button
                  type="button"
                  mat-icon-button
                  (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            ">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length"
            class="bg-slate-50">
          <div
               class="sutra-element-detail"
               [@detailExpand]="
              element === expandedElement ? 'expanded' : 'collapsed'
            ">
            <div class="flex flex-col w-full bg-slate-50">
              <!-- 경전 시작 -->
              <mat-card class="py-8 my-4 mat-cards !shadow-none">

                <mat-card-title
                                class="text-center
                                rounded-md
                                text-sky-400
                                my-2 p-4 py-2 w-full bg-slate-100">
                  <span class="text-xl"> {{ element.title }} </span>
                </mat-card-title>

                <mat-card-content
                                  class="border-slate-500 rounded-xl shadow-sm my-4">
                  <pre class="md:px-16 md:py-12 max-md:p-4"><code
                      [highlightAuto]="element.sutra"
                      [languages]="['plaintext']"
                      [class]="fontSize"
                      class="text-wrap noto-sans-kr-bold text-sky-950 opacity-80" >
                    </code></pre>
                </mat-card-content>

                <mat-card-footer class="text-center">
                  <button
                          type="button"
                          mat-icon-button
                          [cdkCopyToClipboard]="element.sutra"
                          (click)="onCopyToClipboard()">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </mat-card-footer>
              </mat-card>

              <!-- 원문 시작 -->
              <mat-card class="py-8 my-4 mat-cards !shadow-none">
                <mat-card-content class="border-slate-500 rounded-xl shadow-sm my-4">
                  <pre class="md:px-16 md:py-12 max-md:p-4"><code
                        [highlightAuto]="element.originalText"
                        [languages]="['plaintext']"
                        [class]="fontSize"
                        class="text-wrap noto-sans-kr-bold text-sky-950 opacity-80"
                        >
                      </code></pre>
                </mat-card-content>

                <mat-card-footer class="text-center">
                  <button type="button" mat-icon-button [cdkCopyToClipboard]="element.sutra"
                          (click)="onCopyToClipboard()">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </mat-card-footer>
              </mat-card>
              <!-- end of card -->
            </div>
          </div>
        </td>
      </ng-container>

      <!-- 접히는 컨텐츠 끝 -->

      <tr
          mat-header-row
          class="sutra-header-row"
          *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplayWithExpand"
          class="sutra-element-row hover:cursor-pointer hover:bg-slate-100"
          [class.sutra-expandedElement]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element; exec(element)">
        >
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
          class="sutra-detail-row bg-slate-50"> </tr>
    </table>

    <!-- 페이지 네비게이션 -->
    <mat-paginator
                   pageSize="10"
                   class="sutra-paginator"
                   [pageSizeOptions]="[5, 10, 20, 25, 50, 75, 100, 300]">
    </mat-paginator>
  </div>
  <!-- 테이블 끝 -->

  <!-- 끝 -->
  <div></div>
</div>
<app-scroll-arrow [isVisible]="isHideArrow"></app-scroll-arrow>
