<div class="grid grid-cols-[300px,1fr] gap-1 m-1 h-screen">
  <div class="bg-slate-300 row-start-1 col-start-1 row-span-5">
    @for (item of menus; track $index) {

    <a
      (click)="goTo(item.URL)"
      class="flex gap-5 cursor-pointer items-center p-5"
      routerLinkActive="active"
    >
      {{ item.Name }}
    </a>
    }
  </div>
  <div class="bg-slate-300 row-start-1 col-start-2 row-span-5">
    <router-outlet></router-outlet>
  </div>
</div>
<div>
  {{ helloworld }}
</div>
<app-sign-out (onNameChange)="handleNameChange($event)" />
