<!-- 로딩중 -->
@if(service.isLoading()) {
<loading-state />
}
<!-- 오류 발생시 -->
@else if(service.error()) {
<error-state (retry)="service.reload()" />
}
@else if(service.accumulatedData()) {

<div class="w-full h-full my-4 px-4" [id]="anchorId()">

  <form (ngSubmit)="onSubmit($event)"
        #formDirective="ngForm"
        class="flex flex-col gap-2"
        [formGroup]="createForm.form">

    <body-title [title]="title" [icon]="icon" />

    <!-- Major Category -->
    <div class="grid grid-cols-1">

      <mat-form-field>
        <mat-label>대분류</mat-label>
        <mat-select formControlName="majorCategoryId"
                    (selectionChange)="onMajorCategorySelectionChange($event)">
          @for (item of majorCategoryList(); track item.id) {
          <mat-option [value]="item.id">
            <mat-icon>{{ item.icon }}</mat-icon>
            ({{ item.code }}) {{ item.nameKr }}
          </mat-option> }
        </mat-select>
        <mat-icon matPrefix fontSet="material-icons-outlined">category_search</mat-icon>
      </mat-form-field>
    </div>

    <!-- Minor Category -->
    <div class="grid grid-cols-1">
      <mat-form-field>
        <mat-label>소분류</mat-label>
        <mat-select formControlName="minorCategoryCode">
          @for (item of filteredMinorList(); track item.code) {
          <mat-option [value]="item.code">
            <mat-icon>{{ item.icon }}</mat-icon>
            ({{ item.code }}) {{ item.nameKr }}
          </mat-option> }
        </mat-select>
        <mat-icon matPrefix fontSet="material-icons-outlined">category_search</mat-icon>
      </mat-form-field>
    </div>

    <!-- * 제목 title * -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>경전선택 - {{scriptureList().length}} - </mat-label>
      <mat-select formControlName="scriptureName"
                  (selectionChange)="onScriptureSelectionChange($event)"
                  placeholder="Related Scripture">
        <div class="search-input-wrapper gap-2 items-center px-2 flex flex-1 h-12 font-ibm"
             (click)="$event.stopPropagation()">
          <mat-icon>search</mat-icon>
          <input matInput placeholder="경전검색..."
                 [value]="searchScripture()"
                 (click)="$event.stopPropagation()"
                 (keydown)="$event.stopPropagation()"
                 (input)="onSearchScriptureChange($event)"
                 class="flex-1 outline-none bg-transparent">
          @if (searchScripture()) {
          <button
                  mat-icon-button
                  (click)="clearScriptureSearch(); $event.stopPropagation()"
                  type="button">
            <mat-icon>close</mat-icon>
          </button>
          }

        </div>
        @if (searchScripture() && filteredScriptureList().length === 0) {
        <mat-option disabled>
          <div class="text-gray-500 px-2 py-1">
            '{{ searchScripture() }}'에 해당하는 경전이 없습니다
          </div>
        </mat-option>
        }

        @for (item of filteredScriptureList(); track item.id) {
        <mat-option [value]="item.id">{{item.abbr}} {{ item.nameKr }} {{ item.originName}}</mat-option>
        }

      </mat-select>
      <mat-icon matPrefix fontSet="material-icons-outlined">touch_app</mat-icon>

    </mat-form-field>

    <!-- * 한글제목 * -->
    <mat-form-field appearance="fill" class="w-full">

      <mat-label>한글제목</mat-label>
      <input matInput required class="font-ibm" maxlength="350" minlength="2" formControlName="title">
      <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>

      @if (createForm.hasError('originalTitle', 'maxlength')) {
      <mat-error class=" h-24">한글 제목은 최대 300자입니다.</mat-error>
      }@else { <mat-hint>한글제목 ChinesseTitle</mat-hint> }

    </mat-form-field>

    <!-- * 한문제목 * -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>한문제목</mat-label>
      <input matInput required class="font-ibm" maxlength="300" formControlName="chineseTitle">
      <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>
      @if (createForm.hasError('originalTitle', 'maxlength')) {
      <mat-error class=" h-24">영어 제목은 최대 300자입니다.</mat-error>
      }@else { <mat-hint>한문제목 ChinesseTitle</mat-hint> }
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">

      <!-- * 원어 제목 * -->
      <mat-label>원어제목</mat-label>
      <input matInput required class="font-hanmun2" maxlength="300" formControlName="originalTitle">
      <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>

      @if (createForm.hasError('originalTitle', 'maxlength')) {
      <mat-error class=" h-24">원어 제목은 최대 300자입니다.</mat-error>
      }@else { <mat-hint>원어제목 OrignalTitle</mat-hint> }

    </mat-form-field>

    <div class="grid lg:grid-cols-4 gap-1">

      <mat-form-field appearance="outline">
        <mat-label>Total Volume</mat-label>
        <input matInput class="font-ibm" [value]="volumes()" readonly>
        <mat-icon matPrefix>book</mat-icon>
        <mat-hint>권·부·집·책</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Total Chapter</mat-label>
        <input matInput class="font-ibm" [value]="chapters()" readonly>
        <mat-icon matPrefix>file_open</mat-icon>
        <mat-hint>품·분·회·장·경·지·원·Nipāta·Vagga</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Total Section</mat-label>
        <input matInput class="font-ibm" [value]="sections()" readonly="">
        <mat-icon matPrefix>toc</mat-icon>
        <mat-hint>절·칙·장·관·사도·바르도·선지식·이야기</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Total Verse</mat-label>
        <input matInput class="font-ibm" [value]="verses()" readonly>
        <mat-icon matPrefix>text_snippet</mat-icon>
        <mat-hint>게송·구·조·자·편·행원</mat-hint>
      </mat-form-field>

    </div>

    <div class="w-full grid md:grid-cols-2 lg:grid-cols-3 gap-2">

      <!-- * 저자, author * -->
      <mat-form-field class="w-full">
        <mat-label>저자</mat-label>
        <input matInput class="font-poppins" formControlName="author">
        <mat-icon matPrefix>person_edit</mat-icon>
        <mat-hint>저자 Author</mat-hint>
      </mat-form-field>

      <!-- * 역자, translator * -->
      <mat-form-field class="w-full">
        <mat-label>역자</mat-label>
        <input matInput class="font-poppins" formControlName="translator">
        <mat-icon matPrefix fontSet="material-icons-outlined">sticky_note_2</mat-icon>
        <mat-hint>역자 Translator</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>수행장소</mat-label>
        <input matInput class="font-ibm" formControlName="location">
        <mat-icon matPrefix>add_location_alt</mat-icon>
      </mat-form-field>

    </div>

    <!-- * 내용 content * -->
    <mat-form-field appearance="fill" class="w-full" [style.fontSize]="currentFontSize()">

      <mat-label>경전상세</mat-label>
      <textarea matInput required tabIndent
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                [rows]="rows()"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="100"
                spellcheck="false"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                class="text-slate-700 border-box p-1"
                [class]="currentFont()"
                (keydown.enter)="$event.stopPropagation()"
                [style.line-height]="lineSpace"
                formControlName="details"></textarea>

      <mat-icon matPrefix fontSet=" material-icons-outlined">sticky_note_2</mat-icon>

      @if (createForm.hasError('content', 'required')) {
      <mat-error class=" h-24">내용은 필수 항목입니다.</mat-error>
      }@else {
      <mat-hint>내용</mat-hint>
      }

    </mat-form-field>

    @if(isAdmin()) {
    <!-- * 게시물 고정 여부 및 순위 * -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>게시물 고정 여부 및 순위</mat-label>
      <mat-select formControlName="pinOrder">
        @for (item of pinOrderOptions; track item) {
        <mat-option [value]=" item.value">{{ getPinLabel(item.label) }}</mat-option>
        }
      </mat-select>
      <mat-icon matPrefix fontSet="material-icons-outlined">pined</mat-icon>
    </mat-form-field>
    }

    <div class="flex flex-row gap-4 justify-evenly">
      <button matButton="filled" (click)="resetForm($event)" type="button" class="hover:bg-red-400">
        <mat-icon fontSet="material-icons-outlined"> note </mat-icon>
        신규
      </button>

      <button matButton="filled" type="submit" class="hover:bg-red-400">
        <mat-icon fontSet="material-icons-outlined"> edit </mat-icon>
        {{ btnLabel() }}
      </button>
    </div>
  </form>
  <mat-divider />
  <pre>{{ scriptureList()[0] | json }}</pre>
  <mat-divider />
  <pre>{{ majorCategoryList()[0] | json }}</pre>
  <mat-divider />
  <pre>{{ minorCategoryList()[0] | json }}</pre>

</div>
}
