<div class="relative flex flex-col min-h-screen w-full justify-center items-center">

  <div class="absolute inset-0 w-full h-screen bg-alone bg-no-repeat bg-center bg-cover opacity-95 overflow-hidden ">
  </div>

  @if(message() != null) {
  <div
       [ngStyle]="getDynamicStyles()"
       class="floating-text-container
              font-cute
              z-30">

    @for (item of message(); track item.key) {
    <span
          class="floating-char"
          [style.animationDelay]="item.delay + 'ms'">
      {{ item.char }}
    </span>
    }
  </div>
  }

  <!-- 연꽃 -->
  <div
       class="bg-lotus bg-no-repeat bg-center bg-cover absolute top-5/6 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-10 z-15 w-80 h-80">
  </div>

  <!-- 폴더 전체 컨테이너 (3분할) -->
  <div class="folders z-50">

    <!-- 왼쪽 -->
    <div class="folder folder-left"
         [matTooltip]="toolTips[0]"
         matTooltipShowDelay="500"
         matTooltipHideDelay="1000">

      @for (menu of favorityLeft; track $index) {
      <a class="file cursor-pointer" [routerLink]="[menu.url]">
        <span class="font-poppins"> {{menu.name}} </span>
      </a>
      }
    </div>

    <!-- 중앙 -->
    <div class="folder folder-middle"
         [matTooltip]="toolTips[1]"
         matTooltipShowDelay="500"
         matTooltipHideDelay="1000">

      @for (menu of favorityMiddle; track $index) {
      <a class="file cursor-pointer" [routerLink]="[menu.url]">
        <span class="font-poppins"> {{menu.name}} </span>
      </a>
      }
    </div>

    <!-- 오른쪽 -->
    <div class="folder folder-right"
         [matTooltip]="toolTips[2]"
         matTooltipShowDelay="500"
         matTooltipHideDelay="1000">

      @for (menu of favorityRight; track $index) {
      <a class="file cursor-pointer" [routerLink]="[menu.url]">
        <span class="font-poppins"> {{menu.name}} </span>
      </a>
      }
    </div>

  </div>

  <!-- 경전 사경 -->
  <button type="button" (click)="goTo()" class="z-50 text-lg font-ibm hover:text-rose-100"> 사경(寫經) </button>

  <!-- 짧은 글 -->
  <p class="h-24 absolute flex justify-center items-center bottom-8 text-slate-400 text-base w-full transition-opacity duration-2000 ease-in-out"
     [class.opacity-0]="!isVisible()"
     [class.opacity-100]="isVisible()">
    {{ currentQuote().text }}
  </p>

</div>
