<div class="text-slate-50">
  <div class="flex justify-between items-center h-16
      bg-gradient-to-r
    from-sky-600
    via-purple-500
    to-fuchsia-400">
    <div class="flex items-center">

      <a type="button" class="ml-8 text-3xl font-ibm">{{ title }}</a>
    </div>
    <div class="flex gap-4 pr-4 items">

      <a class="text-slate-50 hover:text-slate-100" routerLink="/home">Code</a>
      <a class="text-slate-50 hover:text-slate-100" routerLink="/about">Text</a>
      <a class="text-slate-50 hover:text-slate-100" routerLink="/contact">
        <span class="material-symbols-outlined">
          menu
        </span>
      </a>

    </div>
  </div>


  <!--
  Rose
  Pink
  Fuchsia
  Purple
  Violet
  Indigo
  Blue
  Sky
  Cyan
  Teal
  Emerald
  Green
  Lime
  Yellow
  Amber
  Orange
  Red
  Stone
  Neutral
  Zinc
  Gray
  Slate
  -->
