<div class="rounded-md w-full mt-8">
  <form (ngSubmit)="add()">

    <div class="flex gap-2">
      <mat-form-field class="w-full">
        <mat-label>역할 이름</mat-label>
        <input matInput
               placeholder="Role Name"
               [(ngModel)]="role.roleName" class="" name="roleName" required>

        @if(!role.roleName)
        {
        <mat-error class="text-base">역할 이름을 입력하여 주세요!</mat-error>
        }
      </mat-form-field>

      <button mat-mini-fab [disabled]="!role.roleName" class="mt-1" type="submit" aria-label="Add Role">
        <mat-icon>add</mat-icon>
      </button>


    </div>
    @if(errorMessage)
    {
    <div class="flex-none text-res-500 text-base">
      {{ errorMessage }}
    </div>
    }


  </form>
</div>
