<div class="!w-full">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content class="!w-full">
    <mat-form-field class="!w-full">
      <mat-label>한줄 필사</mat-label>
      <!-- <input matInput name="mat-card-content" [(ngModel)]="content" appearence="fill" class="!w-full"
             placeholder="한 줄 묵상"> -->

      <textarea matInput placeholder="오늘의 한줄 묵상" rows="10" name="mat-card-content" [(ngModel)]="content" appearence="fill" class="!w-full"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">취소</button>
    <button mat-button [mat-dialog-close]="content()" cdkFocusInitial cdkFocusInitial>작성</button>
  </mat-dialog-actions>
</div>
