.sutra-header-row {
    background-color: rgb(248 250 252) !important;
}

.sutra-element-detail {
    overflow: hidden;
    display: flex;
}

table.sutra-table {
    background-color: rgb(248 250 252) !important;
}

.sutra-filter {
    background-color: rgb(248 250 252) !important;
}

.sutra-element-row {
    color: rgb(7, 85, 85);
    background-color: rgb(248 250 252);
    font-size: 1.4em;
    // border-bottom: 3px double rgb(19, 94, 132) !important;
    opacity: 0.7;

    :hover {
        font-weight: 700;
    }

    // :hover {
    //     border-left: solid 10px rgb(210, 77, 222);
    // }
}

.sutra-paginator {
    background-color: rgb(248 250 252) !important;
}

.sutra-detail-row {
    height: 0 !important;
    overflow: hidden;
}

.mat-cards {
    background-color: rgb(248 250 252);
}
