<form [formGroup]="form"
      novalidate
      class="w-full h-full"
      (keydown.enter)="$event.preventDefault()"
      (ngSubmit)="onSubmit()">
  <mat-card class="pb-4">
    <mat-card-header class="w-full flex my-2 text-5xl justify-center">
      <div class="flex items-center text-slate-500 mb-4 cute-font-regular">

        <span>&#9784;&nbsp;&nbsp;</span>
        {{ form.controls["title"].value === null ? title : form.controls["title"].value }}
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="flex w-full gap-2">
        <!-- 제목 Title -->
        <mat-form-field class="grow w-full"
                        [style.fontSize]="fontSize.value">
          <mat-label>경전 이름</mat-label>
          <input matInput
                 placeholder="Sutra Name"
                 class="w-full"
                 (ngModelChange)="utility.divideHangul($event)"
                 required="true"
                 name="title"
                 formControlName="title" />
          <app-print-error [control]="title"></app-print-error>

          @if (form.controls["title"].hasError("required") &&
          (form.controls["title"].touched || form.controls["title"].dirty)) {
          <mat-error><strong>경전 이름</strong>은 필수 항목입니다.</mat-error>
          }
        </mat-form-field>

        <!-- 색인 -->
        <mat-form-field class="flex-none w-28">
          <mat-label>색인</mat-label>
          <mat-select placeholder="색인"
                      [value]="v != null ? v : 0"
                      formControlName="hangulOrder">
            @for (hangul of hangulArray; track hangul) {
            <mat-option [value]="hangul.value">{{ hangul.key }}</mat-option>
            }
          </mat-select>
          @if (form.controls["hangulOrder"].hasError("required") &&
          (form.controls["hangulOrder"].touched ||
          form.controls["hangulOrder"].dirty)) {
          <mat-error><strong>색인</strong>은 필수 항목입니다.</mat-error>
          }
          <mat-error *ngIf="form.errors?.['hangulOrder']"><strong>색인</strong>은 필수 항목입니다.</mat-error>
        </mat-form-field>
      </div>

      <div class="flex w-full gap-2">
        <!-- 부 제목 Subtitle -->
        <mat-form-field class="grow w-full">
          <mat-label>경전 별칭</mat-label>
          <input matInput
                 placeholder="Sutra Alias Name"
                 formControlName="subtitle" />
        </mat-form-field>

        <mat-form-field class="flex-none w-28">
          <mat-label>Font size</mat-label>
          <mat-select #fontSize
                      value="20px"
                      (selectionChange)="triggerResize()">
            <ng-container>
              @for (item of fontOptions(9, 72); track $index) {

              <mat-option [value]="item">{{ item }}</mat-option>
              }
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-button-toggle-group class="w-full flex flex-row justify-evenly mb-2">
        @for (item of rowArray; track $index) {
        <mat-button-toggle value="{{ item }}"
                           class="w-full flex justify-center"
                           checked="{{ item == rows }}"
                           (change)="onToggleChange($event)">{{ item }}</mat-button-toggle>
        }
      </mat-button-toggle-group>

      <!-- 경전 내용 -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>한글경전</mat-label>
        <textarea matInput
                  name="sutra"
                  #sutra
                  placeholder="Korean Sutra"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="sutra"></textarea>

        @if (form.controls["sutra"].hasError("required") &&
        (form.controls["sutra"].touched || form.controls["sutra"].dirty)) {
        <mat-error><strong>경전</strong>은 필수 항목입니다.</mat-error> }
      </mat-form-field>

      <!-- 원문 (originalText) -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>원문, 한문경전</mat-label>
        <textarea matInput
                  placeholder="Original Sutra"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="originalText"></textarea>
      </mat-form-field>

      <!-- 경전 요약 -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>경전설명</mat-label>
        <textarea matInput
                  placeholder="Sutra Details"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="summary"></textarea>
      </mat-form-field>
      <div class="flex w-full gap-2">
        <!-- 원문저자 -->
        <mat-form-field class="grow w-full">
          <mat-label>원문저자</mat-label>
          <input matInput
                 placeholder="Author"
                 formControlName="author" />
        </mat-form-field>

        <!-- 한글/한문역자 -->
        <mat-form-field class="grow w-full">
          <mat-label>한글, 한문역자</mat-label>
          <input matInput
                 placeholder="Translator"
                 formControlName="translator" />
        </mat-form-field>
      </div>
      <!-- 주석 (annotation) -->
      <mat-form-field class="w-full"
                      [style.fontSize]="fontSize.value">
        <mat-label>주석</mat-label>
        <textarea matInput
                  placeholder="Annotation"
                  (keydown.enter)="$event.stopPropagation()"
                  [rows]="rows"
                  [style.padding-top]="fontSize.value"
                  formControlName="annotation"></textarea>
      </mat-form-field>
    </mat-card-content>

    <!-- Submit -->
    <mat-card-actions class="flex justify-evenly">
      <button mat-raised-button
              (click)="onReset()"
              [disabled]="form.pristine || section === 1"
              type="button">
        초기화
      </button>

      <button mat-raised-button
              (click)="onCancel()"
              type="button">취소</button>

      <button mat-raised-button
              color="tertiar"
              [disabled]="form.invalid"
              type="submit">
        저장
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <app-blank-space></app-blank-space>
    </mat-card-footer>
  </mat-card>
</form>
@if (isSpinner) {
<div class="absolute left-0 top-0 w-full h-full bg-transparent flex items-center justify-center">
  <mat-spinner *ngIf="isSpinner"></mat-spinner>
</div>
}

<app-scroll-arrow></app-scroll-arrow>
