<div class="h-auto w-full my-2">

  <div class="file-upload-wrapper" [class.success]="uploadSuccess"
       [class.error]="uploadError" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)">

    <input type="file" accept="image/*" class="cursor-pointer" (change)="onFileChange($event)" hidden #fileInput />

    <div class="file-dropper" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      <p>{{ title }}</p>
      <div *ngIf="imageName()">
        <div *ngIf="selectedFile || imagePreview">
          <img [src]="imagePreview()" alt="이미지 미리보기" class="image-preview" />
          <p class="text-center">
            <span class="text-sky-600 font-bold">{{ imageName() }}</span> ({{ fileSize() }} KB)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
