<div class="flex bg-slate-50 m-4 justify-center items-start h-full w-full">
  <div class="shadow-sm xl:w-1/3 lg:w-1/2 max-lg:w-full p-10 bg-slate-50 rounded-md">

    <div class="text-red-800 text-3xl font-cute text-center font-extrabold">나의 필명 바꾸기</div>
    <hr class="my-2">
    <input disabled="true" class="w-full border-gray-200 py-2 px-4 border shadow-md rounded-md"
           placeholder="아이디 (이메일)을 입력하세요"
           [(ngModel)]="updateUserName.email"
           #email
           class="w-full border-gray-200 py-2 my-2 px-4 border shadow-md rounded-md"
           type="email"
           name="email">

    <input class="w-full border-gray-200 py-2 my-2 px-4 border shadow-md rounded-md"
           placeholder="변경할 이름을 입력하세요"
           [(ngModel)]="updateUserName.newUserName"
           #newUserName
           type="text"
           name="newUserName">

    <button class="bg-blue-500 w-full my-4 hover:bg-blue-800 text-white py-2 px-4 rounded-lg shadow-md"
            [disabled]="!email"
            (click)="onSubmit()">
      회원정보 수정
    </button>

  </div>
</div>
