<div class="read-container">
  <!-- 제목 -->
  <div class="rounded-md py-4
  mx-0 w-full flex justify-center items-center ">

    <span class="text-3xl p-2 text-slate-400">&#10056;</span>
    <span class="text-3xl font-poppins text-sky-800"> {{ codeDTO.title === '' ? mainTitle : codeDTO.title }} </span>
    <span class="text-3xl p-2 text-slate-400">&#10056;</span>
  </div>

  <!-- 부 제목 -->
  <div class="flex justify-center text-md my-2 !w-full text-slate-600">
    <p> {{ codeDTO.subTitle }} </p>
  </div>
  <div>

    <p #mathParagraph></p>
  </div>

  <!-- 본문 탭 -->
  <mat-tab-group
                 #matTabGroup
                 [(selectedIndex)]="selectedTabIndex"
                 class="my-8 !mx-0 !px-0 shadow-md rounded-md"
                 (selectedIndexChange)="tabSelectionChange($event)">

    @for (tab of tabs; track $index) {
    <mat-tab class="!w-full">
      <ng-template mat-tab-label>
        <mat-icon class="text-slate-400">description</mat-icon>
        <span class="text-slate-500 ml-4 text-lg">{{ tab }}</span>
      </ng-template>

      <!-- 본문 -->
      <mat-card class="px-2 !w-full">
        @switch ($index) {

        <!-- 주 코드 -->
        @case (0) {
        <mat-card-content class="!w-full border-slate-500 shadow-sm m-1">
          <pre class="md:px-0 md:py-0"><code id="clipboard-korean"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [highlightAuto]="codeDTO.content"

            [class]="fontSize"
            class="text-wrap !p-12 rounded-xl fira-code !w-full" >
          </code></pre>
        </mat-card-content>
        }

        <!-- 보조 코드 -->
        @case (1) {
        <mat-card-content class="!w-full border-slate-500 shadow-sm m-1">
          <pre class="md:px-0 md:py-0"><code id="clipboard-korean"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              [highlightAuto]="codeDTO.subContent"
              [class]="fontSize"
              class="text-wrap !p-12 rounded-xl fira-code !w-full" >
            </code></pre>
        </mat-card-content>
        }
        <!-- 마크다운 -->
        @case (2) {

        <!-- <mat-card-content class="!w-full border-slate-500 shadow-sm m-1">
          <markdown [data]="toKatexList(katexs)"></markdown>
        </mat-card-content> -->
        <mat-card-content class="!w-full border-slate-500 shadow-sm m-1">
          <markdown katex [data]="codeDTO.markdown"></markdown>
        </mat-card-content>


        }
        <!-- 노트 -->
        @case (3) {
        <mat-card-content class="!w-full border-slate-500 shadow-sm m-1">
          <pre class="md:px-4 md:py-4"><code id="clipboard-other"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [highlightAuto]="codeDTO.note"
            class="text-wrap !p-12 rounded-xl fira-code !w-full"
            >
          </code></pre>
        </mat-card-content>
        }
        <!-- 참조 이미지 -->
        @case(4) {
        <mat-card-content>
          <div class="flex !w-full justify-center items-center p-2">
            <img [src]="getAttachImage()" alt="참조 이미지" />
          </div>
        </mat-card-content>
        }

        <!-- 질문과 답변 -->
        @case (5) {
        <mat-card-content>
          <div class="flex !w-full justify-center items-center p-2">
            <app-qn-a [codeId]="codeId" [hideQna]="isQnA"></app-qn-a>
          </div>
        </mat-card-content>

        }
        @default {}
        }

        <mat-card-footer *ngIf="!isQnA">
          <div class="flex xl:flex-row max-xl:flex-col gap-2 items-center max-xl:items-start
                      justify-around m-4 text-sm text-slate-500 border-slate-500 shadow-sm">
            <p class="flex flex-row items-center">
              <mat-icon class="text-slate-400">book</mat-icon>
              번호: {{ codeDTO.id }}
            </p>
            <p class="flex flex-row items-center">
              <mat-icon class="text-slate-400">book</mat-icon>
              만든일자 : {{ codeDTO.created | date: 'yyyy-MM-dd': '':'ko-KR' }}
            </p>
            <p class="flex flex-row items-center">
              <mat-icon class="text-slate-400">book</mat-icon>
              수정일자 : {{ codeDTO.modified | date: 'yyyy-MM-dd': '':'ko-KR' }}
            </p>
          </div>

          <div class="flex xl:flex-row max-xl:flex-col gap-2 items-center
                      max-xl:items-start justify-around m-4
                      text-sm text-slate-500 border-slate-500 shadow-sm">

            <!-- 다운로드 -->
            <p class="flex flex-row items-center">
              <mat-icon class="text-slate-400">book</mat-icon>
              <a type="button" (click)="downloadCodeFile(codeDTO.attachFileName)" matTooltip="다운로드는 회원가입이 필요합니다.">
                {{ codeDTO.attachFileName === null ? '첨부된 파일 없음' : codeDTO.attachFileName }}
              </a>
            </p>
          </div>

        </mat-card-footer>

        <!-- 버튼 그룹 -->
        <mat-card-actions *ngIf="!isQnA" class="grid grid-cols-[1fr,1fr,1fr,1fr] mb-8">

          <!-- 삭제 -->
          <div class="flex justify-center w-full">
            @if(canDelete || isAdmin) {
            <!-- 삭제버튼 -->
            <button type="button"
                    mat-raised-button
                    (click)="onDelete()">
              삭제
            </button>
            }
          </div>

          <!-- 복사 -->
          <div class="flex justify-center w-full">
            <button type="button"
                    mat-raised-button
                    [cdkCopyToClipboard]="codeDTO.content"
                    (click)="onCopyToClipboard()">복사</button>
          </div>

          <!-- 편집 -->
          <div class="flex justify-center w-full">
            @if(canUpdate || isAdmin) {
            <button type="button"
                    mat-raised-button
                    (click)="goNavigateUpdate(codeDTO.id)">
              편집
            </button>
            }
          </div>
        </mat-card-actions>

        <mat-card-footer class="h-20 my-2 text-center" *ngIf="!isQnA">
          <mat-hint *ngIf="canUpdate">본 코드 조각은 직접 작성하신 코드로서 수정 삭제가 가능합니다.</mat-hint>
        </mat-card-footer>

      </mat-card>

    </mat-tab>
    }
  </mat-tab-group>
</div>
<app-scroll-arrow></app-scroll-arrow>
