<div>
  <mat-toolbar>
    <!-- 브랜드 -->
    <button mat-icon-button type="button">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"> BUDDHA </a>

    <!-- 중간 공간 -->
    <div class="w-full"></div>

    <!-- 메뉴 -->
    <div>
      <div class="flex gap-5 items-center !text-white">
        <a routerLink="/Buddha" class="text-lg"> Sutra </a>
        <a routerLink="/SignIn" class="text-sm"> 로그인 </a>
        <a routerLink="/SignUp" class="text-sm"> 회원가입 </a>
      </div>
    </div>
  </mat-toolbar>
</div>
