<div class="relative h-2/3 w-full bg-slate-300 s">

  <div
       class="h-full flex flex-col w-full">
    <div
         #msgContainer
         id="messageInput"
         [scrollTop]="msgContainer.scrollHeight"
         class="flex flex-col overflow-y-scroll w-full h-full p-4">

      @for (m of messages(); track $index) {

      <div
           [class]="m.user === userName
           ? 'bg-sky-700 text-white justify-start'
           : 'bg-red-700 text-white justify-end'"
           class="h-10 text-2xl w-full text-white
        flex items-center mb-0 font-cute rounded-t-3xl px-8">
        <span>{{m.user}}</span>
      </div>
      <div class="pb-20">
        <pre
             class="mt-0 mb-2 p-0"><code class="w-full pb-4 mb-4 !text-teal-800" [highlightAuto]=m.message></code></pre>
      </div>
      }

    </div>
  </div>

  <div
       class="fixed flex flex-col justify-end z-50 m-0 bg-slate-300 bottom-0
       left-0 right-0 h-1/3 w-full px-8">

    <mat-form-field class="w-full">
      <mat-label>메시지 입력</mat-label>
      <textarea matInput
                id="messageInput"
                placeholder="메시지"
                rows="4"
                [(ngModel)]="message"></textarea>
    </mat-form-field>

    <div class="w-full flex items-center justify-center">
      <button mat-icon-button
              (click)="sendMessage()"
              class="!mb-4 !text-xl !pb-4">
        <mat-icon>chat</mat-icon>
      </button>
    </div>
  </div>

</div>
<!--
   (keyup.enter)="sendMessage()"
  -->
