// .logout-icon {
//     transform: scale(5);
//     font-size: 96px;
// }


mat-icon {
    width: 96px !important;
    height: 96px !important;
    font-size: 5em !important;
}

// .mat-mdc-icon.mat-mdc-base {
//     /* button size */
//     --mdc-icon-button-state-layer-size: 96px;
// }
