// div.image-manager {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Popins", sans-serif;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background-color: rgb(4, 75, 97);
// }

// .box {
//   position: relative;
//   width: 300px;
//   height: 400px;
//   background-color: rgb(4, 75, 97);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 10px;
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
//   overflow: hidden;
// }
// .box::before {
//   content: "";
//   position: absolute;
//   width: 180px;
//   height: 140%;
//   background: linear-gradient(
//     45deg,
//     #ff0000,
//     #ff7300,
//     #fffb00,
//     #48ff00,
//     #00ffd5,
//     #002bff,
//     #7a00ff,
//     #ff00e7,
//     #ff0000
//   );
//   animation: animate 5s linear infinite;
// }
// .box::after {
//   content: "";
//   position: absolute;
//   inset: 2px;
//   background-color: rgb(4, 75, 97);
//   border-radius: 8px;
// }
// @keyframes animate {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
// p {
//   position: absolute;
//   color: #fff;
//   font-size: 1.5rem;
//   font-weight: 500;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   text-align: center;
//   z-index: 1;
// }

//
.file-upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.file-upload-wrapper.success {
  border-color: green;
}

.file-upload-wrapper.error {
  border-color: red;
}

.file-dropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-name {
  font-weight: bold;
}

.image-preview {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.delete-icon {
  cursor: pointer;
  color: rgb(179, 67, 15);
}
