.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  gap: 1rem;
  color: #0191cc;
  font-size: 1.5rem;
}
