<div class="relative flex flex-col min-h-screen w-full justify-center items-center">

  <div class="absolute inset-0 w-full h-screen
              bg-alone bg-no-repeat bg-center bg-cover opacity-95 overflow-hidden ">
  </div>


  @if(message() != null) {
  <div
       [ngStyle]="getDynamicStyles()"
       class="floating-text-container
              font-cute
              z-30">

    @for (item of message(); track item.key) {
    <span
          class="floating-char"
          [style.animationDelay]="item.delay + 'ms'">
      {{ item.char }}
    </span>
    }
  </div>
  }

  <!-- 연꽃 -->
  <div class="bg-lotus bg-no-repeat bg-center bg-cover absolute
              top-5/6 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-10 z-15 w-80 h-80">
  </div>

  <!-- 폴더 전체 컨테이너 (3분할) -->
  <div class="folders z-50 ">

    <!-- 왼쪽 -->
    <div class="folder folder-left max-md:left-[13%]"
         [matTooltip]="toolTips[0]"
         matTooltipShowDelay="500"
         matTooltipHideDelay="1000">

      @for (menu of favorityLeft; track $index) {
      <a class="file cursor-pointer" [routerLink]="[menu.url]">
        <span class="font-poppins"> {{menu.name}} </span>
      </a>
      }
    </div>

    <!-- 중앙 -->
    <div class="folder folder-middle"
         [matTooltip]="toolTips[1]"
         matTooltipShowDelay="500"
         matTooltipHideDelay="1000">

      @for (menu of favorityMiddle; track $index) {
      <a class="file cursor-pointer" [routerLink]="[menu.url]">
        <span class="font-poppins"> {{menu.name}} </span>
      </a>
      }
    </div>

    <!-- 오른쪽 -->
    <div class="folder folder-right max-md:left-[87%]"
         [matTooltip]="toolTips[2]"
         matTooltipShowDelay="500"
         matTooltipHideDelay="1000">

      @for (menu of publicIp(); track $index) {
      <span class="file font-poppins text-lg"> {{menu}} </span>
      }
    </div>

  </div>

  <!-- 경전 사경 -->
  <button type="button" (click)="goTo()"
          class="z-50 text-lg font-ibm max-md:bottom-25
                hover:text-rose-100">
    사경(寫經)
  </button>

  <!-- 짧은 글 -->
  <p class="h-auto absolute font-cute flex tracking-widest justify-center items-center left-0 bottom-48
          text-slate-200/75 text-xl w-full transition-opacity duration-3000 ease-in-out"
     [class.opacity-0]="!isVisible()"
     [class.opacity-100]="isVisible()">
    {{ currentQuote().text }}
  </p>

</div>

<!-- <p class="p-8 text-slate-600">{{ myIp() | json }}</p>
<p class="p-8 text-slate-600">{{ myIp()?.ip }}</p>
<p class="p-8 text-slate-600">{{ myIp()?.headers?.[ 'x-real-ip'] }}</p> -->
