<div class="flex flex-col opacity-70 bg-slate-400 h-auto w-full">
  <div
       class="flex flex-row
       h-5/6 px-4
       py-8 m-1
       min-h-full
       max-h-full gap-4
       justify-center ">

    <div class="bg-white
      rounded-xl
      text-sm
      text-sky-800
      w-1/2
      p-4
      shadow-sm
      editor-container
      shadow-slate-500">

      <p class="text-center"> $ {{data}} $ </p>

      <app-my-editor
                     [placeholder]="'$ ' + data + ' $'"
                     [hideMenu]="true"
                     (sendData)="receiveData($event)">
      </app-my-editor>

    </div>

    <div
         class="w-5
         min-h-full
        text-slate-50
         flex
         text-xl
         items-center
         justify-center">
      &#8658;

    </div>

    <markdown
              [data]="rendered"
              class="bg-slate-50
              w-1/2
              min-h-full
              max-h-full
              rounded-xl
              shadow-sm
              text-2xl
              flex justify-center items-center
              text-sky-800
              shadow-slate-500"
              katex
              #markdown
              clipboard>
    </markdown>

  </div>

</div>
