<div class="w-full">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content class="w-full">
    <mat-form-field class="w-full">
      <mat-label>한줄 사경 (寫經)</mat-label>
      <input matInput name="mat-card-content" [(ngModel)]="content" appearence="fill" class="w-full"
             placeholder="한줄로 쓰는 불경 수행">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">NO</button>
    <button mat-button [mat-dialog-close]="content()" cdkFocusInitial cdkFocusInitial>OK</button>
  </mat-dialog-actions>
</div>
