<div
     class="NgxEditor__Wrapper
     flex flex-col w-full px-2 gap-2">

  <ngx-editor-menu
                   [hidden]="hideMenu"
                   [editor]="editor"
                   [toolbar]="toolbar"></ngx-editor-menu>

  <ngx-editor [editor]="editor"
              [(ngModel)]="html"
              [disabled]="false"
              [placeholder]="placeholder">
  </ngx-editor>

  <div class="w-full flex justify-center items-center p-4">
    <button mat-icon-button (click)="clear()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
