<div class="w-full h-full p-4" [id]="anchorId()">
  <form (ngSubmit)="onSubmit($event)" #formDirective="ngForm" [formGroup]="createForm.form">
    <body-title [title]="title" [icon]="icon" />

    <div class="grid grid-cols-1 gap-2 mt-4">
      <mat-form-field>
        <mat-label>제목</mat-label>
        <input matInput class="font-noto" formControlName="title">
        <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>
        <mat-hint>제목</mat-hint>
      </mat-form-field>
    </div>

    <div class="grid lg:grid-cols-[450px_1fr_200px] gap-2">

      <mat-form-field>

        <!-- * 카테고리 * -->
        <mat-label>카테고리</mat-label>
        <mat-select formControlName="mainCategoryType">

          @for (item of mainCategoryOptions; track item.displayText) {

          @if (item.isDivider) {
          <!-- 구분선 -->
          <p class="text-slate-400 px-4 py-1
                      text-lg font-cute tracking-widest
                      border-t border-slate-200/20 mt-1">
            {{ item.label }}
          </p>
          } @else {
          <mat-option [value]="item.value"> {{ item.displayText }} </mat-option> }

          }

        </mat-select>
        <mat-icon matPrefix fontSet="material-icons-outlined">category_search</mat-icon>
      </mat-form-field>

      <!-- * 마스터 경전 * -->
      <mat-form-field>
        <mat-label>경전</mat-label>
        <mat-select formControlName="scriptureMasterId">
          @for (item of masterList(); track item) {
          <mat-option [value]="item.id">
            {{ item.title }}
          </mat-option>
          }

        </mat-select>
        <mat-icon matPrefix fontSet="material-icons-outlined">book_ribbon</mat-icon>
      </mat-form-field>

      <!-- * 원전언어 * -->
      <mat-form-field appearance="outline" class="w-full" readonly>
        <mat-label>원전언어</mat-label>
        <input matInput
               [value]="lang()"
               readonly="true"
               class="font-noto">
        <mat-icon matPrefix fontSet="material-icons-outlined">sticky_note_2</mat-icon>
      </mat-form-field>

    </div>

    <!-- 신규 -->
    <!-- volume -->
    @if (structureLabel().useVolume) {
    <div class="grid grid-cols-[210px_1fr] gap-2">
      <mat-form-field>
        <mat-label>{{ structureLabel().volumeLabel }}</mat-label>
        <input matInput class="font-poppins"
               formControlName="volume"
               type="number">
        <mat-icon matPrefix fontSet="material-icons-outlined">
          menu_book
        </mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ structureLabel().volumeLabel }} 제목</mat-label>
        <input matInput class="font-noto" formControlName="volumeTitle">
        <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>
      </mat-form-field>
    </div>
    }

    <!-- chapter -->
    @if (structureLabel().useChapter) {
    <div class="grid grid-cols-[210px_1fr] gap-2">
      <mat-form-field>
        <mat-label>{{ structureLabel().chapterLabel }}</mat-label>
        <input matInput class="font-poppins"
               formControlName="chapter"
               type="number">
        <mat-icon matPrefix fontSet="material-icons-outlined">new_label</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ structureLabel().chapterLabel }} 제목</mat-label>
        <input matInput class="font-noto" formControlName="chapterTitle">
        <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>
      </mat-form-field>
    </div>
    }

    <!-- section (단락) -->
    <div class="grid grid-cols-[210px_1fr] gap-2">
      <mat-form-field>
        <mat-label>{{ structureLabel().sectionLabel ?? '단락' }}</mat-label>
        <input matInput class="font-poppins" formControlName="section"
               type="number">
        <mat-icon matPrefix fontSet="material-icons-outlined">new_label</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ structureLabel().sectionLabel ?? '단락' }} 제목</mat-label>
        <input matInput class="font-noto" formControlName="sectionTitle">
        <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>
      </mat-form-field>
    </div>

    <!-- verse (항상 표시) -->
    <div class="grid grid-cols-[210px_1fr] gap-2">
      <mat-form-field>
        <mat-label>{{ structureLabel().verseLabel ?? '게송/절' }}</mat-label>
        <input matInput class="font-poppins" formControlName="verse" type="number">
        <mat-icon matPrefix fontSet="material-icons-outlined">new_label</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ structureLabel().verseLabel ?? '게송/절' }} 제목</mat-label>
        <input matInput class="font-noto" formControlName="verseTitle">
        <mat-icon matPrefix fontSet="material-icons-outlined">subject</mat-icon>
      </mat-form-field>
    </div>

    <!-- 정렬 -->
    <div class="grid md:grid-cols-2 gap-2">

      <!-- sortOrder -->
      <mat-form-field appearance="outline">
        <mat-label>정렬 순서</mat-label>
        <input matInput
               type="number"
               [value]="calculatedSortOrder()"
               formControlName="sortOrder"
               [readonly]="autoSortOrder()">
        <mat-icon matPrefix>sort</mat-icon>

        <mat-slide-toggle
                          class="px-4"
                          [checked]="autoSortOrder()"
                          (change)="autoSortOrder.set($event.checked)"
                          matSuffix>
          자동
        </mat-slide-toggle>
        <mat-hint>
          @if(autoSortOrder()) {
          자동 계산 중...
          }@else {
          수동 입력
          }
        </mat-hint>
      </mat-form-field>

      <!-- refCode -->
      <mat-form-field appearance="outline">
        <mat-label>참조 코드</mat-label>
        <input matInput
               class="font-mono"
               [value]="calculatedRefCode()"
               formControlName="refCode"
               [readonly]="autoRefCode()">
        <mat-icon matPrefix>tag</mat-icon>
        <mat-slide-toggle
                          class="px-4"
                          [checked]="autoRefCode()"
                          (change)="autoRefCode.set($event.checked)"
                          matSuffix>
          자동
        </mat-slide-toggle>
        <mat-hint>
          @if(autoRefCode()) {
          <span>자동 입력 중</span>
          }@else {
          <span>직접입력</span>
          }
        </mat-hint>
      </mat-form-field>


    </div>



    <div class="grid grid-cols-1">
      <mat-form-field>
        <mat-label>검색 키워드</mat-label>
        <input matInput class="font-poppins" formControlName="keywords">
        <mat-icon matPrefix fontSet="material-icons-outlined">tag</mat-icon>
      </mat-form-field>
    </div>

    <!-- 서체/크기/행높이 -->
    <div class="grid grid-cols-[1fr_135px_135px] gap-4 w-full">

      <!-- * 서체 * -->
      <app-font-selector [selectedFont]="currentFont()" (fontChanged)="onFontChanged($event)">
      </app-font-selector>

      <!-- * 폰트크기 * -->
      <app-font-size-selector [selectedSize]="currentFontSize()" [minSize]="9" [maxSize]="72"
                              (fontSizeChanged)="onFontSizeChanged($event)" (resizeRequested)="triggerResize()">
      </app-font-size-selector>

      <!-- * 글쓰기 행높이 * -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>행높이</mat-label>
        <mat-select [value]="rows()" (selectionChange)="onChangeRows($event)">
          @for (item of rowNumbers(3, 100); track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
        <mat-icon matPrefix fontSet="material-icons-outlined">height</mat-icon>
      </mat-form-field>

    </div>

    <div class="grid grid-cols-1 gap-2">

      <!-- * 경전내용 * -->
      <mat-form-field appearance="fill" class="w-full" [style.fontSize]="currentFontSize()">

        <mat-label>경전내용</mat-label>
        <textarea matInput required tabIndent
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  [rows]="rows()"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="=100"
                  class="text-slate-700 border-box p-1"
                  [class]="currentFont()"
                  (keydown.enter)="$event.stopPropagation()"
                  [style.line-height]="lineSpace"
                  spellcheck="false"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  formControlName="content"></textarea>
        <mat-icon matPrefix fontSet="material-icons-outlined">edit_note</mat-icon>

        @if (createForm.hasError('content', 'required')) {
        <mat-error class="text-sm flex w-full font-cute justify-end">경전 내용은 필수 항목입니다.</mat-error>
        }@else {
        <mat-hint class="text-sm text-slate-400 font-cute mb-2 flex w-full justify-end">
          경전내용은 한글 창작 및 번역된 경전을 수록합니다.
        </mat-hint>
        }

      </mat-form-field>

      <!-- * 한문 한문 * -->
      <mat-form-field appearance="fill" class="w-full" [style.fontSize]="currentFontSize()">

        <mat-label>한문 경전</mat-label>
        <textarea matInput required tabIndent
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  [rows]="rows()"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="100"
                  class="text-slate-700 border-box p-1"
                  [class]="currentFont()"
                  (keydown.enter)="$event.stopPropagation()"
                  [style.line-height]="lineSpace"
                  spellcheck="false"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  formControlName="chineseContent"></textarea>
        <mat-icon matPrefix fontSet="material-icons-outlined">edit_note</mat-icon>

        <mat-hint class="text-sm text-slate-400 font-cute flex w-full justify-end mb-2"> 한문경전 </mat-hint>

      </mat-form-field>

      <!-- * 경전원문 * -->
      <mat-form-field appearance="fill" class="w-full" [style.fontSize]="currentFontSize()">

        <mat-label>경전 원문</mat-label>
        <textarea matInput required tabIndent
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  [rows]="rows()"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="100"
                  class="text-slate-700 border-box p-1"
                  [class]="currentFont()"
                  (keydown.enter)="$event.stopPropagation()"
                  [style.line-height]="lineSpace"
                  spellcheck="false"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  formControlName="originalContent"></textarea>
        <mat-icon matPrefix fontSet="material-icons-outlined">edit_note</mat-icon>

        @if (createForm.hasError('originalContent', 'required')) {
        <mat-error class="text-sm flex w-full font-cute justify-end">
          경전 원문은 필수 항목입니다.
        </mat-error>
        }@else {
        <mat-hint class="text-sm text-slate-400 font-cute flex w-full justify-end mb-2">
          경전원문은 최초의 경전 성립된 언어를 기본으로 수록합니다.
        </mat-hint>
        }

      </mat-form-field>

      <!-- * 해설 * -->
      <mat-form-field appearance="fill" class="w-full" [style.fontSize]="currentFontSize()">

        <mat-label>해설/코멘트</mat-label>
        <textarea matInput tabIndent
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  [rows]="rows()"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="100"
                  class="text-slate-700 border-box p-1"
                  [class]="currentFont()"
                  (keydown.enter)="$event.stopPropagation()"
                  [style.line-height]="lineSpace"
                  spellcheck="false"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  formControlName="commentary"></textarea>
        <mat-icon matPrefix fontSet="material-icons-outlined">edit_note</mat-icon>

        <mat-hint class="text-sm text-slate-400 font-cute flex w-full justify-end mb-2">
          경전해설
        </mat-hint>

      </mat-form-field>
    </div>

    <div class="flex flex-row gap-4 my-4 justify-center">
      <button matButton="outlined" (click)="resetForm($event)" type="button">
        <mat-icon> cached </mat-icon>
        초기화
      </button>

      <button matButton="outlined" type="submit">
        <mat-icon> add_moderator </mat-icon>
        {{ btnLabel()}}
      </button>
    </div>

  </form>


</div>
