<nav class="flex flex-row justify-between gap-2 px-8 h-full items-center">

  <a class="text-2xl px-4 py-2 rounded-md font-bold text-slate-50" (click)="goToLink('')">
    ViVaBM
  </a>

  <div class="flex-none grow"></div>

  <a class="rounded-lg bg-fuchsia-500 px-4 py-2 basis-1/7 text-center text-lg font-bold text-slate-50" (click)="goToLink('/Code')">Code</a>
  <a class="rounded-lg bg-fuchsia-500 px-4 py-2 basis-1/7 text-center text-lg font-bold text-slate-50" (click)="goToLink('/Category')">
    범주
  </a>
  <a class="rounded-lg bg-fuchsia-500 px-4 py-2 basis-1/7 text-center text-lg font-bold text-slate-50" (click)="goToLink('/RoleList')">역할</a>

</nav>
