.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

// thread-board.scss
.enter-animation {
  animation: slide-fade 200ms ease-out;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
