<div class="h-48 py-4">
  <mat-progress-bar
                    [mode]="upload?.state === 'PENDING' ? 'buffer': 'determinate'"
                    class="my-8 px-8"
                    [value]="progress()">
  </mat-progress-bar>

  <div class="flex flex-col w-full px-8 gap-2">
    <input type="file" #file placeholder="Choose file" (change)="onSubmit(file.files)" style="display: none;">
    <button type="button" mat-stroked-button (click)="file.click()">파일 첨부 / Attach File</button>
  </div>


  <div class="w-full flex flex-col items-center my-2 gap-2">
    <span class="upload p-4 text-teal-500"> {{ state() }} </span>
  </div>

</div>
