<div class="flex flex-col">
  <h3 class="font-poppins text-slate-400 text-center pt-8">{{title}}</h3>
  <div
       class="px-16 pb-8 pt-12
              mx-8 mt-4 !mb-12 rounded-3xl bg-red-400
              min-h-screen
              w-auto
              shadow-amber-950
              shadow-lg
              markdown-preview
              z-20">

    <ng-template #buttonTemplate>
      <button type="button"
              mat-button class="w-auto z-50 h-40"
              (click)="onCopyToClipboard()">Copy</button>
    </ng-template>

    <markdown katex mermaid clipboard
              [disableSanitizer]="true"
              class="w-auto h-auto markdown-preview "
              [clipboardButtonComponent]="clipboardButton"
              [src]="documentSrc"></markdown>
  </div>
  <div #mathContainer></div>
  <div class="z-10 mt-96 pt-96 min-h-48 w-full bg-transparent"></div>
</div>
