<!-- 폭 관리 -->

<div class="grid grid-cols-1 items-center gap-0 w-full px-4 bg-slate-100">

  <button type="button"
          (click)="toggleWidth()"
          class="justify-self-end"
          matTooltip="{{ isExpand ? '경전 기본보기' : '경전 확장보기' }}">
    <span class="material-symbols-outlined hover:text-sky-500 text-slate-400 text-md mt-2">
      {{ isExpand ? 'collapse_content' :'expand_content' }}
    </span>
  </button>

</div>

<!-- 메인 메뉴 -->

<div class="grid grid-cols-[250px_auto] w-full h-screen">

  <!-- 왼쪽 메뉴 -->
  <!-- <nav *ngIf="!isExpand" class="h-screen col-start-1 p-4 ml-2 mt-2"> -->
  <nav [class]="isExpand ? leftMenuClasses[1] : leftMenuClasses[0]">

    <!-- 경전 목록 보기 (회원가입 불필요) -->
    <a type="button"
       (click)="goNavigateList()"
       matTooltip="경전 전체 목록"
       class="mx-4 my-2 text-teal-700 border-none">
      <span class="material-symbols-outlined"> lists </span>
    </a>

    <!-- 경전쓰기 (로그인 필요) -->
    @if (authService.isLoggedIn() && isEamailConfirmed === true)
    {
    <a type="button"
       (click)="goNavigateCreate()"
       matTooltip="경전 신규 작성"

       class="mx-4 my-2 text-teal-700 border-none">
      <span class="material-symbols-outlined"> create </span>
    </a>
    }

    <mat-accordion>

      @for (item of kors; track $index) {

      <mat-expansion-panel (opened)="panelOpenState.set(true)"
                           [expanded]="currentKey === item.key"
                           (closed)="panelOpenState.set(false)">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="text-teal-700">
              {{ item.key }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        @for (sutra of (sutras$ | async); track $index) { @if (item.value ===
        sutra.hangulOrder) {
        <a (click)="goNavigateRead(sutra.id);scroll(target);"
           class="block text-wrap text-xl hover:text-sky-600 hover:bg-slate-200 hover:pl-4 hover:rounded-lg hover:text-2xl cute-font-regular text-slate-700">
          {{ sutra.title }}
        </a>
        } }
      </mat-expansion-panel>
      }
    </mat-accordion>
  </nav>
  <!-- 왼쪽 메뉴 끝 -->

  <!-- 바디 -->
  <div [class]="isExpand ? bodyClasses[0] : bodyClasses[1]" #target>
    <router-outlet></router-outlet>
  </div>
  <!-- 바디 하단 -->

</div>
