//-------
$r: #007bff; // 로딩 강조 컬러 (전기블루)

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: $r;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.4);
}

.ring:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid $r;
  border-right: 5px solid $r;
  border-radius: 50%;
  animation: animateC 1.8s linear infinite;
}

span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 1.8s linear infinite;
}

span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $r;
  right: -8px;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
