<nav class="bg-white border-gray-200
from-sky-700 via-yellow-100 to-teal-500 bg-gradient-to-r">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="logo-bible.png" class="h-16 opacity-40 shadow-lg" alt="Logo" />
    </a>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

      <!-- 햄버거 버튼  -->
      <button data-collapse-toggle="navbar-user" type="button"
              (click)="hidden = !hidden"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <a type="button"
         (click)="userMenu = !userMenu"
         class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-sky-500"
         id="user-menu-button"
         aria-expanded="false"
         data-dropdown-toggle="user-dropdown"
         data-dropdown-placement="bottom">

        <span class="sr-only">Open user menu</span>
        <img class="w-10 h-10 rounded-full" src="man-1.webp" alt="user photo">
      </a>
      <!-- 사용자 메뉴 -->
      <div
           class="z-50
                   opacity-80
                   my-4
                   text-base
                   list-none
                   bg-transparent
                   divide-y
                   divide-gray-100
                   rounded-lg"
           id="user-dropdown">

        <div class="py-3 ml-2">
          <span (click)="userMenu = !userMenu" class="block cursor-pointer px-4 text-sm text-gray-900">인수열</span>
          <span (click)="userMenu = !userMenu" class="block cursor-pointer px-4 text-sm text-gray-500 truncate">Admin</span>
          <ul [hidden]="!userMenu" class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a type="button" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-sky-600">나의정보</a>
            </li>
            <li>
              <a type="button" (click)="goTo('/UserConfig', 1)" class="block px-4 py-2 text-sm text-gray-700 hover:text-rose-900 hover:bg-gray-100">설정</a>
            </li>
            <li>
              <a type="button" (click)="goTo('/ExportData', 1)" class="block px-4 py-2 text-sm text-gray-700 hover:text-rose-900 hover:bg-gray-100">내보내기</a>
            </li>
            <li [hidden]="isSignIn">
              <a type="button" (click)="signOut()" class="block px-4 py-2 text-sm text-gray-700 hover:text-rose-900 hover:bg-gray-100">로그아웃</a>
            </li>
            <li [hidden]="!isSignIn">
              <a type="button" (click)="goTo('SignIn', 5)" class="block px-4 py-2 text-sm text-gray-700 hover:text-rose-900 hover:bg-gray-100">로그인</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!-- 메뉴 -->
    <div [hidden]="hidden" class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul *ngFor="let menu of menus; let i = index"
          class="flex flex-col text-3xl font-medium p-2 md:p-0 mt-2 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
        <li class="">
          <button type="button"
                  mat-button
                  (click)="goTo(menu.link, i)"
                  matTooltip="{{menu.tooltip}}"
                  class="block
                        !text-2xl
                        !mx-4
                        !px-8
                        !py-6">
            {{menu.name}}
          </button>
        </li>
      </ul>
    </div>
  </div>

</nav>
