<!-- 제목 -->
<div class="cute-font-regular
      text-5xl
      shadow-sm
      rounded-md
      border-b-4
      py-4
      mx-12
 text-slate-600 text-center">
  {{ bibleDTO.title === '' ? mainTitle : bibleDTO.title }}
</div>

<!-- 부 제목 -->
<mat-label class="flex justify-center text-md my-2 text-slate-600">

  @if(bibleDTO.category?.testament == testament.Old) {
  <div class="text-lime-600">
    구약&nbsp;&nbsp;
  </div>
  }
  @else {
  <div class="text-blue-600">
    신약&nbsp;&nbsp;
  </div>
  }

  <div class="text-sky-600">
    {{ bibleDTO.category?.korName }}&nbsp;&nbsp;
  </div>
  <div class="text-pink-600">
    {{ bibleDTO.chapter }}장 {{ bibleDTO.verse }}절
  </div>
</mat-label>

<!-- 본문 탭 -->
<mat-tab-group class="my-8 shadow-md rounded-md">

  @for (tab of tabs; track $index) {
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="text-slate-400">description</mat-icon>
      <span class="text-slate-500 ml-4 text-lg">{{ tab }}</span>
    </ng-template>

    <!-- 본문 -->
    <mat-card class="px-2">
      @switch ($index) {
      @case (0) {
      <mat-card-content class=" border-slate-500 shadow-sm m-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-korean"
            [highlightAuto]="bibleDTO.textKor"
            [class]="fontSize"
            class="text-wrap noto-sans-kr-bold text-sky-950 opacity-80" >
          </code></pre>
      </mat-card-content>
      }
      @case (1) {
      <mat-card-content class=" border-slate-500 shadow-sm m-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-other"
            [highlightAuto]="bibleDTO.textEng"
            class="text-wrap text-xl font-roboto text-sky-950 opacity-80"
            >
          </code></pre>
      </mat-card-content>
      }
      @case (2) {
      <mat-card-content class=" border-slate-500 shadow-sm m-4">
        <pre class="md:px-16 md:py-12"><code id="clipboard-other"
              [highlightAuto]="bibleDTO.comments"
              class="text-wrap text-xl font-cute text-sky-950 opacity-80"
              >
            </code></pre>
      </mat-card-content>
      }
      @default {}
      }

      <mat-card-footer>
        <div class="flex xl:flex-row max-xl:flex-col gap-2 items-center max-xl:items-start justify-around m-4 text-sm text-slate-500 border-slate-500 shadow-sm">
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            번호: {{ bibleDTO.id }}
          </p>
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            일자 : {{ bibleDTO.created | date: 'yyyy-MM-dd': '':'ko-KR' }}
          </p>
          <p class="flex flex-row items-center">
            <mat-icon class="text-slate-400">book</mat-icon>
            필자 : {{ bibleDTO.userName }}
          </p>
        </div>
      </mat-card-footer>

      <mat-card-actions class="grid grid-cols-[1fr,1fr,1fr, 1fr] mb-8">
        <div class="flex justify-center w-full">

          @if(canUpdate || canDelete) {
          <!-- 삭제버튼 -->
          <button type="button"
                  mat-raised-button
                  (click)="onDelete()">
            삭제
          </button>
          }
        </div>

        <div class="flex justify-center w-full">

          <button type="button"
                  mat-raised-button
                  [cdkCopyToClipboard]="joinArray([
                    bibleDTO.id,
                    bibleDTO.userName,
                    bibleDTO.category?.korName,
                    bibleDTO.chapter + '장',
                    bibleDTO.verse + '절',
                    bibleDTO.title,
                    bibleDTO.textKor,
                    bibleDTO.textEng,
                    bibleDTO.comments,
                  ])"
                  (click)="onCopyToClipboard()">복사</button>
        </div>

        <div class="flex justify-center w-full">

          @if(canUpdate || canDelete) {
          <button type="button"
                  mat-raised-button
                  (click)="goNavigateUpdate(bibleDTO.id)">편집</button>
          }

        </div>

      </mat-card-actions>
      <mat-card-footer class="h-20 my-2 text-center">
        <!-- 스크롤 -->
        <p *ngIf="canUpdate" class="text-red-400">본 코드 조각은 직접 작성하신 코드로서 수정 삭제가 가능합니다.</p>
        <!-- 스크롤 하단 -->
      </mat-card-footer>
    </mat-card>

  </mat-tab>
  }
</mat-tab-group>
<app-scroll-arrow></app-scroll-arrow>
