<!-- Background image -->
<div
  class="relative h-96 overflow-hidden bg-cover bg-center bg-lotus bg-no-repeat p-12 text-center lg:h-screen"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-teal-950/70 bg-fixed"
  >
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <main
          class="mb-4 text-9xl max-xl:text-7xl text-slate-300 cute-font-regular max-md:text-5xl font-extrabold"
        >
          무소의 뿔처럼 혼자서 가라
        </main>
        <p class="mb-6 text-xs clear-both text-slate-400">숫타니파타</p>
        <a
          class="mb-1 inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-300 hover:text-neutral-200 focus:border-neutral-300 focus:text-neutral-200 focus:outline-none focus:ring-0 active:border-neutral-300 active:text-neutral-200 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600"
          type="button"
          (click)="goNavigate('Buddha')"
          role="button"
          data-twe-ripple-init
          data-twe-ripple-color="light"
          >Buddhist Scriptures</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
