<div #to (scroll)="onScrollEvent($event)"></div>
<div>
  <!-- 스크롤 방향에 따른 화살표 방향 표시 -->
  <div [hidden]="isHideArrow">
    <button type="button"
            (click)="scroll(-1)"
            color="accent"
            matTooltip="Slow Scroll"
            class="button-slowly"
            mat-icon-button>
      <mat-icon>vertical_align_top</mat-icon>
    </button>
  </div>

  <div [hidden]="isHideArrow">
    <button type="button"
            (click)="scroll(0)"
            color="accent"
            matTooltip="Scroll Up"
            class="button-normal"
            mat-icon-button>
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>

  <div [hidden]="!isHideArrow">
    <button type="button"
            (click)="scroll()"
            color="primary"
            matTooltip="Scroll Down"
            class="button-normal"
            mat-icon-button>
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</div>
