<div class="container-fluid bg">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <div class="display-4 helloworld">Hello, world!</div>
        <p class="lead sitemessage text-secondary">이곳은 저의 일상에서 경험하는 느낌있는 프로그램밍 코드조각들을 간간히 노트하는 사이트입니다.
          만약 이 사이트에서 당신이 필요로 하시는 코드 조각을 발견한다면, 저는 뜻밖에, 매우 큰 보람을 느낄 것 같습니다.</p>
        <hr class="my-4">

        <p class="ensitemessage text-secondary">This is a site where I sometimes take notes on the pieces of programming
          code that I experience in my daily life. If I find a piece of code you need on this site, I will feel very
          rewarding.
        </p>
      </div>
    </div>
  </div>
</div>
