.container-fluid {
  height: 100vh;
  background: url('../../../assets/images/background-4.jpg') no-repeat center center;
  background-size: cover;
}

.jumbotron {
  padding: 60px;
}

.helloworld {
  font-family: 'Condiment', cursive;
}

.sitemessage {
  font-family: 'Cute Font', cursive;
}

.ensitemessage {
  font-family: 'Cute Font', cursive;
}
