<nav
     class="flex
            flex-row
            justify-between
            gap-2
            px-8 h-20
            bg-gradient-to-r from-sky-600 p-0 m-0 via-teal-100 to-teal-500
            items-center">

  <a type="button" class="text-4xl px-4 py-2 cursor-pointer rounded-md font-bold text-slate-50" (click)="goToLink('', null)">
    {{ title }}
  </a>

  <div class="flex-none grow"></div>

  <!-- 메뉴 버튼 모음 -->
  <a type="button" matTooltip="성경 필사 전체 목록" class="rounded-full cursor-pointer hover:bg-fuchsia-400 px-4 py-2 basis-1/7 text-center text-xl text-slate-50" (click)="goToLink('/Bible', null)">필사목록</a>
  <a type="button" matTooltip="성경 목록" class="rounded-full cursor-pointer hover:bg-fuchsia-400 px-4 py-2 basis-1/7 text-center text-xl text-slate-50" (click)="goToLink('/Category', null)">성경목록</a>
  <a type="button" matTooltip="성경 쓰기" class="rounded-full cursor-pointer hover:bg-fuchsia-400 px-4 py-2 basis-1/7 text-center text-xl text-slate-50" (click)="goToLink('/BibleWrite', null)">필사하기</a>
  <a type="button" matTooltip="햄버거메뉴" class="rounded-full cursor-pointer hover:bg-fuchsia-400 px-4 py-2 basis-1/7 text-center text-xl text-slate-50" (click)="goToLink('/MenuBar', null)">메뉴</a>
  <!-- 메뉴 버튼 모음 끝 -->

  <!-- 글관리 메뉴 -->
  <button type="button"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="준비중입니다."
          class="ml-4 flex flex-col items-center rounded-full"
          aria-label="Example icon-button with a menu">
    <mat-icon class="text-sky-800 mb-1">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button type="button"
            (click)="goToLink('SignUp', null)"
            mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>회원가입</span>
    </button>

    <button type="button"
            (click)="goToLink('SignIn', null)"
            mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>로그인</span>
    </button>

  </mat-menu>
</nav>
