<div
     class="flex max-lg:flex-col w-full h-36 left-0 items-center justify-center bg-opacity-80 opacity-80 bg-slate-700 text-slate-50">
  <div class="w-48 text-center p-4 content-center text-xl text-slate-400">Viv</div>
  <div class="flex-none grow text-lg mx-4 text-center content-center">
    Copyright {{ today| date: 'yyyy'}}. BM Co. All rights reserved.
  </div>
  <div class="flex flex-col w-96 p-4 text-lg text-center content-center">
    <a href="https://code.vivabm.com" target="_blank" class="text-slate-400">ViVaBM</a>
    <a type="button" (click)="goTo('PrivacyPolicy')" class="text-slate-400">고객정보 보호 안내</a>
  </div>
</div>
