<div class="flex flex-col
              items-center
              justify-center
              bg-gradient-to-tr
              from-yellow-600
              to-yellow-50
              w-full h-screen">

  <form (ngSubmit)="changePassword()"
        autocomplete="off"
        [formGroup]="form"
        class="flex flex-col 2xl:w-1/4 xl:w-2/3 lg:w-3/4 md:w-1/2 sm:w-4/5 shadow-lg rounded-3xl mx-8 bg-sky-400 p-10">

    <mat-label class="text-2xl font-bold text-center text-slate-600">비밀번호 변경</mat-label>
    <mat-label class="text-center my-2 roboto-bold-italic text-sky-900">{{ form.get('email')?.value }}</mat-label>

    <!-- 현재 비밀번호 -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>현재 비밀번호</mat-label>
      <input matInput required min="6" type="{{hidePassword===true ? 'password' : 'text' }}"
             placeholder="현재 비밀번호" formControlName="currentPassword">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon
                (click)="hidePassword = !hidePassword"
                matSuffix class="cursor-pointer">
        {{ hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-hint
                *ngIf="(form.controls['currentPassword'].hasError('required') ||
                                     form.get('currentPassword')?.hasError('minlength')) &&
                                     (form.get('currentassword')?.dirty || form.get('currentPassword')?.touched)">
        <span class="text-red-600">
          <strong>비밀번호</strong> 는 6자 이상 필수 항목입니다.
        </span>
      </mat-hint>
    </mat-form-field>

    <!-- 새로운 비밀번호 -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>새로운 비밀번호</mat-label>
      <input matInput required min="6" type="{{hidePassword===true ? 'password' : 'text' }}"
             placeholder="새로운 비밀번호" formControlName="newPassword">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon
                (click)="hidePassword = !hidePassword"
                matSuffix class="cursor-pointer">
        {{ hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-hint
                *ngIf="(form.controls['newPassword'].hasError('required') ||
                       form.get('newPassword')?.hasError('minlength')) &&
                       (form.get('newPassword')?.dirty || form.get('newPassword')?.touched)">
        <span class="text-red-600">
          <strong>비밀번호</strong> 는 6자 이상 필수 항목입니다.
        </span>
      </mat-hint>
    </mat-form-field>

    <!-- 비밀번호 확인 -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>새로운 비밀번호 확인</mat-label>
      <input matInput type="{{hidePassword===true ? 'password' : 'text' }}" placeholder="새로운 비밀번호 확인" formControlName="confirmPassword">
      <mat-icon matPrefix>lock</mat-icon>

      <mat-icon
                (click)="hidePassword = !hidePassword;"
                matSuffix class="cursor-pointer">
        {{ hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>

      <mat-hint
                *ngIf="form.hasError('passwordMismatch') &&
                 form.get('confirmPassword')?.dirty &&
                 form.get('confirmPassword')?.touched">

        <span class="text-red-600">비밀번호가 서로 일치하지 않습니다. </span>

      </mat-hint>
    </mat-form-field>

    <div class="flex flex-row justify-evenly gap-2 items-center">
      <button mat-raised-button
              [disabled]="form.invalid || form.hasError('passwordMismatch')"
              type="submit" class="mt-4 !w-3/4">
        변경
      </button>
    </div>

  </form>

</div>
